div.leaflet-marker-icon.location-filter.resize-marker {
    background: url( img/resize-handle-round-blue.png ) no-repeat;
}

div.leaflet-marker-icon.location-filter.resize-marker.nesw {
    cursor: nesw-resize;
}
div.leaflet-marker-icon.location-filter.resize-marker.nwse {
    cursor: nwse-resize;
}

div.leaflet-marker-icon.location-filter.resize-marker.ns {
    cursor: ns-resize;
}

div.leaflet-marker-icon.location-filter.resize-marker.ew {
    cursor: ew-resize;
}

div.leaflet-marker-icon.location-filter.move-marker {
    background: url( img/move-handle.png ) no-repeat;  
    cursor: move;
}

.leaflet-container div.location-filter.button-container a {
    display: inline-block;
    color: #0F2416;
    font-family:'Open Sans Bold', sans-serif;
    line-height:20px;
    font-size:12px;
    -webkit-appearance:none;
    padding: 6px 7px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #c4e3b9;
    background: rgba(218, 252, 205, 1);
    text-align:center;
    border:none;
    cursor:pointer;
    white-space:nowrap;
    text-overflow:ellipsis;    
}
.leaflet-container div.location-filter.button-container a:hover {
    color: #263F1C;
    background: #dde6d8;
    background: rgba(245, 255, 240, 0.9);
    
}

.leaflet-container div.location-filter.button-container a.enable-button {
    padding: 6px 7px 6px 25px;
    background-image: url( img/filter-icon.png ), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(218, 252, 205, 0.9)), color-stop(100%, rgba(173, 226, 176, 0.9)));
    background-image: url( img/filter-icon.png ), -webkit-linear-gradient(top, rgba(218, 252, 205, 0.9) 0%, rgba(173, 226, 176, 0.9) 100%);
    background-image: url( img/filter-icon.png ), -moz-linear-gradient(top, rgba(218, 252, 205, 0.9) 0%, rgba(173, 226, 176, 0.9) 100%);
    background-image: url( img/filter-icon.png ), -ms-linear-gradient(top, rgba(218, 252, 205, 0.9) 0%, rgba(173, 226, 176, 0.9) 100%);
    background-image: url( img/filter-icon.png ), -o-linear-gradient(top, rgba(218, 252, 205, 0.9) 0%, rgba(173, 226, 176, 0.9) 100%);
    background-image: url( img/filter-icon.png ), linear-gradient(top, rgba(218, 252, 205, 0.9) 0%, rgba(173, 226, 176, 0.9) 100%);
    background-repeat: no-repeat;
    background-position: left center;
}
.leaflet-container div.location-filter.button-container a.enable-button:hover,
.leaflet-container div.location-filter.button-container.enabled a.enable-button {
    background-image: url( img/filter-icon.png ), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 255, 240, 0.9)), color-stop(100%, rgba(203, 228, 205, 0.9)));
    background-image: url( img/filter-icon.png ), -webkit-linear-gradient(top, rgba(245, 255, 240, 0.9) 0%, rgba(203, 228, 205, 0.9) 100%);
    background-image: url( img/filter-icon.png ), -moz-linear-gradient(top, rgba(245, 255, 240, 0.9) 0%, rgba(203, 228, 205, 0.9) 100%);
    background-image: url( img/filter-icon.png ), -ms-linear-gradient(top, rgba(245, 255, 240, 0.9) 0%, rgba(203, 228, 205, 0.9) 100%);
    background-image: url( img/filter-icon.png ), -o-linear-gradient(top, rgba(245, 255, 240, 0.9) 0%, rgba(203, 228, 205, 0.9) 100%);
    background-image: url( img/filter-icon.png ), linear-gradient(top, rgba(245, 255, 240, 0.9) 0%, rgba(203, 228, 205, 0.9) 100%);
    background-repeat: no-repeat;
    background-position: left center;
}

.leaflet-container div.location-filter.button-container a.adjust-button {
    margin-left: 2px;
}
