---
---
<!DOCTYPE html >
<html>
<head>
  {% if page.prehead %}{{page.prehead}}{% endif %}
  <meta charset='UTF-8'/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta name='apple-mobile-web-app-capable' content='yes' />
  {% if page.description %}<meta name='description' content='{{page.description | strip_html}}'/>{% endif %}
  <title>{% if page.title == 'Mapbox' %}{{page.title}} | Design and publish beautiful maps{% else %}{{page.title}} | Mapbox{% endif %}</title>

  <meta class='swiftype' name='title' data-type='string' content='{{page.title | escape | replace:"| Mapbox",""}}' />
  <meta class='swiftype' name='type' data-type='enum' content='{% if page.section %}{{page.section}}{% elsif page.category %}{{page.category}}{% else %}site{% endif %}' />
  <meta class='swiftype' name='info' data-type='string' content='{% if page.version %}{{page.version}}{% else %}site{% endif %}' />{% if page.date and site.baseurl == '/blog' %}
  <meta class='swiftype' name='published_at' data-type='date' content='{{ page.date | date_to_xmlschema }}' />{% endif %}{% if page.tags %}
  {% for tags in page.tags %}<meta class='swiftype' name='tags' data-type='string' content='{{tags}}' />
  {% endfor %}{% endif %}{% if page.category and page.category !='none' %}
  <meta class='swiftype' name='category' data-type='string' content='{{page.category}}' />{% endif %}{% if page.author %}
  <meta class='swiftype' name='author' data-type='string' content='{{page.author}}' />{% endif %}{% if page.excerpt or page.description %}
  <meta class='swiftype' name='excerpt' data-type='string' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | escape | truncatewords: 30 }}{% else %}{{ page.excerpt | strip_html | strip_newlines | escape | truncatewords: 30 }}{% endif %}' />{% endif %}
  {% if site.baseurl == '/mapbox.js' %}{% if site.mapboxjs != page.version and page.version != 'latest' %}<meta name='robots' content='noindex'>{% endif %}{% endif %}
  {% if page.card or layout.card %}
  <meta name='twitter:site' content='@Mapbox' />
  <meta property='og:site_name' content='Mapbox' />
  <meta name='twitter:url' content='{{site.url}}{{site.baseurl}}{% if page.permalink %}{{page.permalink}}{% else %}{{page.url | replace:"index.html",""}}{% endif %}' />
  <meta property='og:url' content='{{site.url}}{{site.baseurl}}{% if page.permalink %}{{page.permalink}}{% else %}{{page.url | replace:"index.html",""}}{% endif %}' />
  <meta name='twitter:title' content='{{page.title | escape }}' />
  <meta property='og:title' content='{{page.title | escape }}' />
  <meta name='twitter:description' content='{% if page.description %}{{ page.description | truncatewords: 30 | escape }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | escape | truncatewords: 30 }}{% else %}{{content | strip_html | truncatewords: 30 }}{% endif %}' />
  <meta property='og:description' content='{% if page.description %}{{ page.description | truncatewords: 30 | escape}}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | escape | truncatewords: 30 }}{% else %}{{content | strip_html | truncatewords: 30 }}{% endif %}' />
  {% if page.video or layout.video %}
  <meta name='twitter:card' content='player' />
  <meta name='twitter:player' content='{% if page.video %}{{page.video | replace: "http:" , "https:" }}{% else %}{{layout.video}}{% endif %}' />
  <meta name='twitter:player:width' content='640' />
  <meta name='twitter:player:height' content='480' />
  <meta property='og:type' content='video.other' />
  <meta property='og:video' content='{{page.video}}' />
  <meta property='og:video:width' content='640' />
  <meta property='og:video:height' content='480' />
  {% elsif page.image or layout.image %}
  <meta name='twitter:image' content='{% if page.image %}{{page.image | replace:"https:","http:"}}{% else %}{{layout.image | replace:"https:","http:"}}{% endif %}' />
  <meta name='st:image' content='{% if page.image %}{{page.image | replace:"https:","http:"}}{% else %}{{layout.image | replace:"https:","http:"}}{% endif %}' />
  <meta property='og:image' content='{% if page.image %}{{page.image | replace:"https:","http:"}}{% else %}{{layout.image | replace:"https:","http:"}}{% endif %}' />
  <meta name='twitter:card' content='summary_large_image' />
  <meta property='og:type' content='website' />
  {% endif %}
  {% endif %}
  <meta name="p:domain_verify" content="57838af58c8045c2c024bc2f9d1577f9"/>

  {% if site.localbase == true %}
  <link href='/css/base/latest/base.css?v1.0' rel='stylesheet' />
  {% else %}
  <link href='{% if site.baseApi %}{{site.baseApi}}{% else %}https://www.mapbox.com{% endif %}/base/latest/base.css?v1.0' rel='stylesheet' />
  {% endif %}
  <link href='{{site.url}}/css/site.css' rel='stylesheet' />
  <!--[if IE 9]><link href='{{site.url}}/css/site-ie9.css' rel='stylesheet' /><![endif]-->
  <link rel='shortcut icon' href='{{site.url}}/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.url}}/blog/blog.rss' />

  <!--[if lt IE 9 ]><script src='{{site.url}}/js/redirect-ie.js'></script><![endif]-->
  <script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
  analytics.load(window.location.hostname.indexOf('mapbox.com') !== -1 ? 'fl0c8p240n' : '0biiejpgfj');
  analytics.page()
  }}();
  </script>
  {% if page.head %}{{page.head}}{% endif %}{% if layout.head %}{{layout.head}}{% endif %}
</head>
<body class='{{page.class}} {{page.options}} {{layout.class}} {{layout.options}}{% if page.blog_featured == true %} bleed{% endif %}'>

<div class='page-content'>
<div class='masthead col12 clearfix {% unless page.options contains 'bleed' or layout.options contains 'bleed' %}fill-blue{% endunless %} {% unless page.options contains 'light' or layout.options contains 'light' %}dark{% endunless %} {% if page.title == 'Mapbox' %}home-nav{% endif %}  {% if page.title == 'Education' %}education-nav{% endif %} {% if page.url contains '/gallery' %}gallery-page{% endif %}' data-swiftype-index='false'>
  <div class='limiter clearfix'>
    <nav class='col12 text-right navigation-padding-top contain animate clearfix noprint'>
      <a class='fl mb-logo' href='/'></a>
    </nav>
  </div>
</div>

<div class='{% unless page.options contains 'full' or layout.options contains 'full' %} limiter clearfix{% endunless %}'>{{content}}</div>

<div class='col12 center small pad4 noprint fill-light contain' data-swiftype-index='false'>
  <a href='{{site.url}}/tos'>Terms</a> +
  <a href='{{site.url}}/privacy'>Privacy</a>
  &copy; Mapbox
</div>

</body>
</html>
