---
layout: default
options: full bleed
---
<section class='fill-navy-dark pad8y'>
    <div class='limiter pad8y clearfix contain dark'>
        <h2 class='fancy center dark z1 contain'><a href='{{site.baseurl}}/'>Mapbox Studio</a></h2>
    </div>
    <div class='limiter clearfix contain dark'>
        <div class='col8 margin2 prose'>
        {{content}}
        </div>
    </div>
</section>
<section class='fill-navy-dark pad8y'>
    <div class='limiter clearfix contain dark'>
        <h3 class='fancy center space-bottom'>Documentation</h3>
        {% include docnav.html %}
    </div>
</section>

