---
layout: default
options: full bleed
---
<style>
.doc-content h1 { text-align:center; }
.doc-content h3 { font-size: 18px; }
h1 a[href^='#'],
h2 a[href^='#'],
.doc-content h1[id],
.doc-content h2[id],
.doc-content h3[id],
.doc-content h4[id] { 
    color: #FFF;
    cursor: pointer;
}
</style>
<section class='fill-navy-dark pad8y'>
    <div class='pad8y'>
        <div class='limiter clearfix contain dark'>
            <h3 class='fancy dark contain center'>
                <a href='{{site.baseurl}}/'>Mapbox Studio</a>
            </h3>
        </div>
        <div class='limiter clearfix contain dark'>
            <div class='col8 margin2 prose doc doc-content'>
            {{content}}
            </div>
        </div>
    </div>
    <div class='limiter clearfix contain dark'>
        {% include docnav.html %}
    </div>
</section>

