/* Base candidates */
.pad0  { padding:5px; }
.pad0y { padding-top:5px; padding-bottom:5px; }
.pad0x { padding-right:5px; padding-left:5px; }

.pad0r { padding-right: 0;}
.pad0l { padding-left: 0;}

.space-bottom0 { margin-bottom: 5px;}

.z1   { z-index:1; }
.z10  { z-index:10; }
.z100 { z-index:100; }

.pin-bottomright {
  position:absolute;
  bottom:0;
  right:0;
  }
.pin-bottomleft {
  position:absolute;
  bottom:0;
  left:0;
  }
.pin-topright {
  position:absolute;
  top:0;
  right:0;
  }
.pin-topleft {
  position:absolute;
  top:0;
  left:0;
  }

.dark code {
 background: rgba(255,255,255,0.025);
}

.input-pill input[type='text'],
.input-pill input[type=text]:focus { border-right-width: 0;}

.input-pill input[type='text'] + input[type='submit'],
.input-pill input[type='text'] + .button { border-left-width: 0;}

.fill-dark            { background-color:#404040; }
.dark .pill > *       { border-color:#333; }

.dark .quiet.rcon:after,
.dark .quiet.icon:before,
.dark .quiet .rcon:after,
.dark .quiet .icon:before {
  background-image:url(../ext/base/icon-ffffff@2x.png);
  }

.fill-dark .pill > *,
.fill-dark.pill > *        { border-color:#444; }

a code,
a:hover code {
  background:rgba(0,0,0,0.025);
  color: rgba(0,0,0,.5);
}

.dark a.icon:not(.button):hover:before,
.dark a.icon:not(.button):hover:after,
a.icon.quiet:not(.button):hover:before,
a.icon.quiet:not(.button):hover:after {
  opacity: .75;
}

.dark a code,
.dark a:hover code {
  color: rgba(255,255,255,0.5);
}

textarea:disabled,
input[type='text']:disabled {
  border-width: 0;
  color: rgba(0,0,0,0.5);
}

.dark textarea:disabled,
.dark input[type='text']:disabled {
  color: rgba(255,255,255,0.5);
}

.space-top1 { top: 10px;}
.space-top2 { top: 20px;}
.space-top4 { top: 40px;}

select {
  margin-top: 1px;  margin-bottom: 1px;
}

/* For whatever reason, these need to be defined
 * on their own so dont group them */
input[type=range]:disabled::-moz-range-thumb { cursor: default;}
input[type=range]:disabled::-ms-thumb { cursor: default;}
input[type=range]:disabled::-webkit-slider-thumb { cursor: default;}
input[type=range]:disabled { cursor: default; }

/* Splitting fifths - also in use on www.mapbox.com */
.fifths a {
  width: 20%;
}

/* Modal popup */
.modal {
  display:none;
  position:absolute; left:50%; top:20%; z-index:2001;
  margin:0px 0px 0px -25%;
  }
#mask {
  display:none;
  position:absolute; z-index:2000;
  width:100%; height:100%;
  }
.modal.target,
.modal:target,
.modal:target ~ #mask { display:block; }

.dark .modal { background:#444; }
.dark #mask { background:rgba(0,0,0,0.8); }

/* END Base candidates */

/* STUFF TO FIX */

/* Inline-block buttons need to share
vertical-alginment with siblings.
LOOK FOR BETTER SOLUTION FOR THIS
*/
.align-middle { vertical-align: middle;}

/* Scroll styled from base isn't working right */
.scroll-styled::-webkit-scrollbar {
  width:8px;
  height:8px;
  border-radius:0;
  background:rgba(0,0,0,0.1);
  }
.scroll-styled::-webkit-scrollbar:hover {
  background:rgba(0,0,0,0.15);
  }
.scroll-styled::-webkit-scrollbar-track {
  background:none;
  }
.scroll-styled::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.1);
  border-radius:0;
  }

.dark .scroll-styled::-webkit-scrollbar {
  background:rgba(255,255,255,0.1);
  border-radius:0;
  }
.dark .scroll-styled::-webkit-scrollbar:hover {
  background:rgba(255,255,255,0.15);
  }
.dark .scroll-styled::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,0.1);
  }

pre,
.CodeMirror { font:13px/20px normal Droidsansmono,monospace; }

body {
  background:#404040;
  overflow:hidden;
  }
body.dark {
  background-color:#333;
  }

.clear { background:transparent !important; }
.lefted { text-align:left; }
.iso { margin:40px 0px; }

section.thin { padding:10px 30px 9px; }

.dark section,
.dark a.section { border-color:rgba(0,0,0,0.1); }
.dark a.section:hover { background-color:rgba(0,0,0,0.4); }

.thumbed {
  background:url(./thumb.png) no-repeat -100px 0;
  }
  .thumbed.style { background-position:0 0; }
  .thumbed.source { background-position:0 -70px; }
  .thumbed.remote { background-position:0 -140px; }

section pre {
  margin-bottom:20px;
  }
section .CodeMirror { display:block; position:static; height:400px; visibility:visible; }

.column {
  position:absolute;
  bottom:0%;
  height:100%;
  box-shadow:rgba(0,0,0,0.1) -2px 0px 0px;
  -webkit-transition:left 200ms, width 200ms;
  }

.cell {
  display:inline-block;
  vertical-align:top;
  width:50%;
  }

.l0 { left:0%; }
.l1 { left:25%; }
.l2 { left:50%; }
.l3 { left:75%; }
.l4 { left:100%; }

.darken { background:rgba(0,0,0,0.4); }
.lighten { background:rgba(255,255,255,0.4); }

.pane {
  position:absolute;
  z-index:1002;
  bottom:100%;
  height:100%;
  box-shadow:rgba(0,0,0,0.1) -2px 0px 0px;
  -webkit-transition:bottom 200ms;
  }
.pane > * { display:none; }
.overlay:target .pane > *,
.pane:target > * { display:block; }
.overlay:target .pane,
.pane:target { bottom:0%; }
.pane > .column { overflow:auto; }

/* Map */
#map {
  background:#ddd url(canvas.png);
  }
.leaflet-control {
  z-index:0;
  }
.leaflet-left {
  z-index:0;
  }
#zoomedto {
  position:absolute;
  right:0px;
  top:40px;
  margin:10px 10px 0px 0px;
  height:0px;
  }
#zoomedto .z {
  display:none;
  width:100px; height:20px;
  border-color:rgba(0,0,0,0.4);
  font-size:8px;
  line-height:18px;
  }
#zoomedto .range {
  margin-left: 10px;
  height:4px;
  position:absolute;
  overflow:hidden;
  left:50%;
  right:5px;
  top:8px;
  background:rgba(0,0,0,0.1);
  display:block;
  }
#zoomedto .minmax {
  height:4px;
  display:block;
  background:rgba(255,255,255,0.2);
  position:absolute;
  }
#zoomedto .marker {
  position:absolute;
  display:block;
  width:4px;
  height:4px;
  background:#888;
  }
#zoomedto.z0 .z0,
#zoomedto.z1 .z1,
#zoomedto.z2 .z2,
#zoomedto.z3 .z3,
#zoomedto.z4 .z4,
#zoomedto.z5 .z5,
#zoomedto.z6 .z6,
#zoomedto.z7 .z7,
#zoomedto.z8 .z8,
#zoomedto.z9 .z9,
#zoomedto.z10 .z10,
#zoomedto.z11 .z11,
#zoomedto.z12 .z12,
#zoomedto.z13 .z13,
#zoomedto.z14 .z14,
#zoomedto.z15 .z15,
#zoomedto.z16 .z16,
#zoomedto.z17 .z17,
#zoomedto.z18 .z18,
#zoomedto.z19 .z19,
#zoomedto.z20 .z20,
#zoomedto.z21 .z21,
#zoomedto.z22 .z22 {
  display:block;
  background:#fff;
  }
#zoomedto:target {
  z-index:1;
  border-bottom: 1px solid rgba(0,0,0,.1);
  overflow:hidden;
  background:#eee;
  height:120px;
  left:0px;
  margin:0px;
  -moz-transition:height 100ms;
  -webkit-transition:height 100ms;
  }
#zoomedto:target .z0,
#zoomedto:target .z6,
#zoomedto:target .z12,
#zoomedto:target .z18 { top:0px; }
#zoomedto:target .z1,
#zoomedto:target .z7,
#zoomedto:target .z13,
#zoomedto:target .z19 { top:20px; }
#zoomedto:target .z2,
#zoomedto:target .z8,
#zoomedto:target .z14,
#zoomedto:target .z20 { top:40px; }
#zoomedto:target .z3,
#zoomedto:target .z9,
#zoomedto:target .z15,
#zoomedto:target .z21 { top:60px; }
#zoomedto:target .z4,
#zoomedto:target .z10,
#zoomedto:target .z16,
#zoomedto:target .z22 { top:80px; }
#zoomedto:target .z5,
#zoomedto:target .z11,
#zoomedto:target .z17,
#zoomedto:target .z23 { top:100px; }
#zoomedto:target .z6,
#zoomedto:target .z7,
#zoomedto:target .z8,
#zoomedto:target .z9,
#zoomedto:target .z10,
#zoomedto:target .z11 { left:25%; }
#zoomedto:target .z12,
#zoomedto:target .z13,
#zoomedto:target .z14,
#zoomedto:target .z15,
#zoomedto:target .z16,
#zoomedto:target .z17 { left:50%; }
#zoomedto:target .z18,
#zoomedto:target .z19,
#zoomedto:target .z20,
#zoomedto:target .z21,
#zoomedto:target .z22,
#zoomedto:target .z23 { left:75%; }
#zoomedto:target .z {
  width:25%;
  border:0px;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
  border-radius:0px;
  position:absolute;
  display:block;
  }
#zoomedto .close { display:none; }
#zoomedto:target .close { display:block; }

.dark #zoomedto { background:#282828; }
.dark #zoomedto.z0 .z0,
.dark #zoomedto.z1 .z1,
.dark #zoomedto.z2 .z2,
.dark #zoomedto.z3 .z3,
.dark #zoomedto.z4 .z4,
.dark #zoomedto.z5 .z5,
.dark #zoomedto.z6 .z6,
.dark #zoomedto.z7 .z7,
.dark #zoomedto.z8 .z8,
.dark #zoomedto.z9 .z9,
.dark #zoomedto.z10 .z10,
.dark #zoomedto.z11 .z11,
.dark #zoomedto.z12 .z12,
.dark #zoomedto.z13 .z13,
.dark #zoomedto.z14 .z14,
.dark #zoomedto.z15 .z15,
.dark #zoomedto.z16 .z16,
.dark #zoomedto.z17 .z17,
.dark #zoomedto.z18 .z18,
.dark #zoomedto.z19 .z19,
.dark #zoomedto.z20 .z20,
.dark #zoomedto.z21 .z21,
.dark #zoomedto.z22 .z22 { background:#333; }
.dark #zoomedto .z,
.dark #zoomedto strong { border-color:#222; }

.leaflet-container.dark .leaflet-bar,
.leaflet-container.dark .leaflet-bar a { border-color:#222; }

.leaflet-container.dark .leaflet-popup-content-wrapper,
.leaflet-container.dark .leaflet-popup-tip { background:#333; }

#map-overlay {
  position:absolute;
  top:0px; bottom:0px; width:100%;
  background:rgba(64,64,64,0.4);
  z-index:-1;
  opacity:0;
  -webkit-transition:opacity 200ms ease-in 100ms, z-index 200ms ease-in 100ms;
  }
#map-overlay:before {
  content:'';
  width:40px;
  height:40px;
  position:absolute; left:50%; top:50%;
  margin:-20px 0px 0px -20px;
  border-radius:50%;
  box-shadow:rgba(0,0,0,0.1) 0px 0px 0px 10px;
  background:#444 url(spinner.gif) 50% 50% no-repeat;
  }
.loading #map-overlay {
  z-index:1000;
  opacity:1;
  }

#map-errors {
  position:absolute;
  bottom:0px; width:100%;
  z-index:1000;
  }
#map-errors .msg {
  display:block;
  font-size:80%;
  padding:10px 20px;
  background-color:rgba(0,0,0,0.1);
  }
/* Menu (off-canvas) */
.menu .sortable-dragging,
.menu .sortable-placeholder {
  display:block;
  padding:10px 20px 9px;
  min-height:40px;
  position:relative;
  border-bottom:1px solid rgba(0,0,0,0.1);
  }
.menu nav h3 { padding:5px; border:0px; }
.menu nav a.right { position:absolute; top:5px; right:5px; }
.menu nav a.button.title:active { background-color:#333; }

/* Sortable states */
.menu .sortable-placeholder { background:rgba(0,0,0,0.1); }
.menu .sortable-dragging {
  background:#444;
  padding:9px 19px;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:4px;
  }

.hide { display:none; }
.hide:target { display:block; }

/* Data menu */
#layers .data-y,
#layers .data-n { display:none; }

#data:target ~ #layers { display:block; }
#data:target ~ #layers a.delete { display:block; }
#data:target ~ #layers .sourcetype { display:none; }

#layers .geometry { opacity:0.6; }
#layers span.active { background: rgba(0,0,0,.2);}

#layers a.active .geometry { opacity:1; }
#layers .zooms,
#layers .details {
  font-size:10px; line-height:10px;
  }
#layers small {
  display:none;
  -webkit-transition:200ms;
  }
#layers .active small { display:block; }
#layers .field {
  margin-left:80px;
  white-space:normal;
}
#layers .field code {
  color:#ff8;
  margin-left:-80px;
  width:75px;
  overflow:hidden;
  }

/* Project history */
#settings-style,
#settings-source { display:none; }
#settings-style.active,
#settings-source.active { display:block; }

label.ghost {
  position:absolute;
  right: 15px;
  text-align:right;
  line-height: 40px;
  top: 0;
  }

label.xray { opacity:0.5; width:80px; }
label.w1,
label.w2,
label.w3 { display:inline-block; }

/* CodeMirror*/
.CodeMirror,
.CodeMirror * {
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  }
.CodeMirror {
  position:absolute;
  background:#f8f8f8;
  top:40px; bottom:0px;
  width:100%; height:auto;
  visibility:hidden;
  }
.CodeMirror-lines,
.CodeMirror-gutter-text { padding:0px; }
.CodeMirror-gutter-text pre { padding:0px 5px; }
.CodeMirror-lines { padding:0px 10px; }
.CodeMirror-scroll { height:100%; overflow: hidden;}
.CodeMirror.active .CodeMirror-scroll { overflow: auto; }
.CodeMirror.active { visibility:visible; }
.CodeMirror-gutter {
  background:#f8f8f8;
  width:40px !important;
  border-right:1px solid #ddd;
  }
.CodeMirror-gutter .error {
  position:relative;
  background-color: #f1f075
  }
.CodeMirror-gutter .error .message {
  position:absolute; left:0%; top:100%;
  display:none;
  background-color: #f1f075;
  color: rgba(0,0,0,.5);
  white-space:normal !important;
  text-align:left;
  width:240px;
  padding:5px 10px;
  border-radius:0px 3px 3px 0px;
  }
.CodeMirror-gutter .error a:target ~ .message { display:block; }
span.cm-keyword,
span.cm-carto-variable           { color:#708; }
span.cm-carto-color-variable     { color:#B60049; }
span.cm-number,
span.cm-carto-unit               { color:#281; }
span.cm-atom,
span.cm-carto-value              { color:#708; }
span.cm-carto-valid-value        { color:#B60049; }
span.cm-carto-selector           { color:#b64f90; }
span.cm-carto-identifier         { color:#999; }
span.cm-carto-valid-identifier   { color:#333; }
span.cm-carto-important          { color:#03c; }
span.cm-carto-colorcode          { color:#048; }
span.cm-carto-punctuation        { color:#666; }
span.cm-carto-comment            { color:#999; }
span.cm-string,
span.cm-carto-string             { color:#8010a0; }
span.cm-carto-filter             { color:#66475B; }

.dark .CodeMirror { background:transparent; }
.dark .CodeMirror-gutter { background:transparent; border-color:rgba(255,255,255,0.2); }
.dark .CodeMirror pre.CodeMirror-cursor { border-color:#ccc; }
.dark span.cm-keyword,
.dark span.cm-carto-variable           { color:#d6e; }
.dark span.cm-number,
.dark span.cm-carto-unit               { color:#9d7; }
.dark span.cm-string,
.dark span.cm-carto-string             { color:#d7f; }
.dark span.cm-atom,
.dark span.cm-carto-value              { color:#d6e; }

/* File browser modal */
.modal.browser {
  top:10%;;
  }

/* Media queries */
@media (max-width:800px) {
  body { font-size:12px; }
  pre, .CodeMirror { font-size:11px; }
  a.section,
  section { float:none; width:auto; }
  }
@media (min-width: 1580px) {
  #code { left:55%; width:45%; }
  #docs,
  #fonts,
  #full { width:55%; }
  .pane:target ~ #full,
  #layers:target ~ #code { width:50%; }
  #layers:target ~ #full { width: 30%; }
  }
@media (min-width: 1780px) {
  #code { left:60%; width:40%; }
  #docs,
  #fonts,
  #full { width:60%; }
  #layers:target ~ #full { width: 35%; }
  }
