@font-face {
  font-family:Opensans;
  src: url('../ext/opensans-regular.woff') format('woff');
  }

@font-face {
  font-family:Opensans;
  font-weight:bold;
  src: url('../ext/opensans-bold.woff') format('woff');
  }

@font-face {
  font-family:Droidsansmono;
  src: url('../ext/droidsansmono.woff') format('woff');
  }

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  }

html, body { height:100%; }

body,
input,
textarea { font:normal 13px/20px Opensans,sans-serif; }
pre,
.CodeMirror { font:13px/20px normal Droidsansmono,monospace; }

/* Base styles */
body {
  margin:0px;
  padding:0px;
  background:#ddd;
  background-image:-webkit-linear-gradient(#ddd 75%,#bbb);
  color:#444;
  overflow:hidden;
  }

body.dark {
  background:#444;
  background-image:-webkit-linear-gradient(#444 75%,#333);
  }

.dark { color:#fff; }
.clear { background:transparent !important; }
.lefted { text-align:left; }
.centered { text-align:center; }
.righted { text-align:right; }

::-webkit-scrollbar { width:6px; height:6px; }
::-webkit-scrollbar-track { background:transparent; border-left:1px solid rgba(0,0,0,0.1); }
::-webkit-scrollbar-thumb { background:rgba(0,0,0,0.2); }

h1,h2,h3,h4,h5,h6,p {
  margin:0px;
  padding:0px;
  font-size:100%;
  }
h1,h2 { font-size:125%; }
p { margin-bottom:10px; }
a { color:inherit; text-decoration:none; }

section {
  display:block;
  padding:15px 30px 14px;
  border-bottom:1px solid #ccc;
  }
section > *:last-child { margin-bottom:0px; }
section:last-child { border-bottom:0px; }

.dark section,
.dark a.section { border-color:rgba(0,0,0,0.1); }
.dark a.section:hover { background-color:rgba(0,0,0,0.4); }

.thumbed {
  display:block;
  padding:10px 15px;
  position:relative;
  padding-left:75px;
  min-height:60px;
  border-radius:4px;
  }
.thumbed .image {
  position:absolute;
  left:0px; top:0px; width:60px; height:60px;
  background-color:rgba(0,0,0,0.1);
  background-size:cover;
  background-position:50% 50%;
  border-radius:4px 0px 0px 4px;
  box-shadow:
    inset rgba(0,0,0,0.05) 0px 0px 0px 1px,
    inset rgba(0,0,0,0.05) 0px 0px 0px 3px;
  }
.thumbed .plus {
  position:absolute;
  left:0px; top:0px; width:60px; height:60px;
  text-align:center;
  padding:20px;
  border-right:1px solid rgba(0,0,0,0.1);
  }
.thumbed .plus::before {
  background-color:rgba(0,0,0,0.1);
  border-radius:4px;
  }
.thumbed > * {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }
.thumbed { background-color:rgba(255,255,255,0.4); }
.thumbed:hover { background-color:rgba(255,255,255,0.8); }
.dark .thumbed { background-color:rgba(0,0,0,0.2); }
.dark .thumbed:hover { background-color:rgba(0,0,0,0.4); }

.thumbed.create { background-color:rgba(255,255,255,0.8); }
.thumbed.create strong { line-height:40px; font-size:125%; }
.thumbed.create:hover { background-color:rgba(255,255,255,1); }
.dark .thumbed.create { background-color:rgba(0,0,0,0.4); }
.dark .thumbed.create:hover { background-color:rgba(0,0,0,0.8); }

section pre {
  padding:5px 0px;
  background:#eee;
  overflow:auto;
  }
section .CodeMirror { display:block; position:static; height:400px; visibility:visible; }

input[type=button],
input[type=submit],
.button {
  color:inherit;
  display:inline-block;
  font-weight:bold;
  border:0px;
  cursor:pointer;
  margin:0px;
  padding:5px 10px;
  vertical-align:middle;
  border-radius:4px;
  }

input[type=button],
input[type=submit],
.button.submit { background:rgba(255,255,255,0.8); }

input[type=button]:active,
input[type=submit]:active,
.tab.active,
.button.active,
.button:active {
  background:rgba(0,0,0,0.2);
  box-shadow:inset rgba(0,0,0,0.2) 0px 1px 3px 0px;
  }

.dark input[type=button],
.dark input[type=submit],
.dark .button { background:rgba(0,0,0,0.2); }

.dark input[type=button]:active,
.dark input[type=submit]:active,
.dark .button.active,
.dark .button:active { background:rgba(0,0,0,0.4); }

.button.wide,
input.wide[type=button],
input.wide[type=submit] {
  min-width:80px;
  text-align:center;
  margin-right:10px;
  }

.centered .button.wide,
.centered input.wide[type=button],
.centered input.wide[type=submit] { margin-right:0px; }

.righted .button.wide,
.righted input.wide[type=button],
.righted input.wide[type=submit] { margin-right:0px; margin-left:10px; }

.button.icon {
  height:30px;
  text-align:center;
  }
.button.icon:empty { width:30px; padding:5px; }

.joined { white-space:nowrap; }
.joined > * { border-radius:0px !important; margin-right:1px !important; }
.joined > *:first-child { border-radius:3px 0px 0px 3px !important; }
.joined > .last,
.joined > *:last-child  { border-radius:0px 3px 3px 0px !important; }

.icon:before {
  content:'';
  width:20px; height:20px;
  display:inline-block;
  vertical-align:middle;
  background-image:url(./sprite.png);
  background-repeat:no-repeat;
  background-position-x:20px;
  background-position-y:0px;
  }
.dark .icon:before { background-position-y:-20px; }
.icon.layers:before { background-position-x:0px; }
.icon.edit:before { background-position-x:-20px; }
.icon.search:before { background-position-x:-40px; }
.icon.close:before { background-position-x:-60px; }
.icon.full:before { background-position-x:-80px; }
.icon.plus:before { background-position-x:-100px; }
.icon.line:before { background-position-x:-120px; }
.icon.linestring:before { background-position-x:-120px; }
.icon.point:before { background-position-x:-140px; }
.icon.polygon:before { background-position-x:-160px; }
.icon.multipolygon:before { background-position-x:-160px; }
.icon.conf:before { background-position-x:-180px; }
.icon.code:before { background-position-x:-200px; }
.icon.dir:before { background-position-x:-220px; }
.icon.tooltip:before { background-position-x:-240px; }
.icon.upload:before { background-position-x:-260px; }
.icon.okay:before { background-position-x:-280px; }
.icon.grid:before { background-position-x:-300px; }
.icon.book:before { background-position-x:-320px; }
.icon.gear:before { background-position-x:-340px; }
.icon.export:before { background-position-x:-360px; }
.icon.home:before { background-position-x:-380px; }
.icon.star:before { background-position-x:-400px; }
.icon.recache:before { background-position-x:-420px; }
.icon.file:before { background-position-x:-440px; }
.icon.prev:before { background-position-x:-460px; }
.icon.next:before { background-position-x:-480px; }
.icon.unknown:before { background-position-x:-500px; }
.icon.package:before { background-position-x:-520px; }
.icon.padded:before { margin-right:5px; }

nav { white-space:nowrap; }
nav > a {
  display:inline-block;
  text-align:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }

.column {
  position:absolute;
  bottom:0%;
  height:100%;
  box-shadow:rgba(0,0,0,0.1) -2px 0px 0px;
  -webkit-transition:left 200ms, width 200ms;
  }

.grid { padding:5px; }

.cell {
  padding:5px;
  float:left;
  width:50%;
  }

.w1 { width:25%; }
.w2 { width:50%; }
.w3 { width:75%; }
.w4 { width:100%; }
.l0 { left:0%; }
.l1 { left:25%; }
.l2 { left:50%; }
.l3 { left:75%; }
.l4 { left:100%; }

.darken { background:rgba(0,0,0,0.4); }
.lighten { background:rgba(255,255,255,0.4); }

.pane {
  position:absolute;
  z-index:1002;
  bottom:100%;
  height:100%;
  background:#ddd;
  background-image:-webkit-linear-gradient(#ddd 75%,#bbb);
  overflow:auto;
  box-shadow:rgba(0,0,0,0.1) -2px 0px 0px;
  -webkit-transition:bottom 200ms;
  }
.pane > * { display:none; }
.overlay:target .pane > *,
.pane:target > * { display:block; }
.overlay:target .pane,
.pane:target { bottom:0%; }
.pane nav {
  position:absolute;
  right:10px;
  top:10px;
  }
.pane.dark {
  background:#444;
  background-image:-webkit-linear-gradient(#444 75%,#333);
  }
.pane > .column { overflow:auto; }

/* Map */
#map {
  background:#ddd url(canvas.png);
  }
.leaflet-control {
  z-index:0;
  }
.leaflet-left {
  z-index:0;
  }
#zoomedto {
  position:absolute;
  right:0px;
  top:40px;
  margin:10px 10px 0px 0px;
  height:0px;
  background:#fff;
  }
#zoomedto .z {
  display:none;
  padding:0px 0px 0px 60px;
  position:relative;
  border-radius:3px;
  border:1px solid #ccc;
  width:100px; height:20px;
  font-weight:bold;
  font-size:10px;
  line-height:19px;
  }
#zoomedto strong {
  position:absolute;
  left:0px;
  padding:0px 5px;
  width:30px;
  text-align:center;
  border-right:1px solid #ccc;
  }
#zoomedto .range {
  height:2px;
  position:absolute;
  overflow:hidden;
  left:65px;
  right:5px;
  top:8px;
  background:rgba(0,0,0,0.1);
  display:block;
  }
#zoomedto .minmax {
  height:2px;
  display:block;
  background:rgba(255,255,255,0.2);
  position:absolute;
  }
#zoomedto .marker {
  position:absolute;
  display:block;
  width:2px;
  height:2px;
  background:#888;
  }
#zoomedto .avg {
  display:block;
  position:absolute;
  top:0px;
  left:30px;
  padding:0px 5px;
  font-size:8px;
  }
#zoomedto.z0 .z0,
#zoomedto.z1 .z1,
#zoomedto.z2 .z2,
#zoomedto.z3 .z3,
#zoomedto.z4 .z4,
#zoomedto.z5 .z5,
#zoomedto.z6 .z6,
#zoomedto.z7 .z7,
#zoomedto.z8 .z8,
#zoomedto.z9 .z9,
#zoomedto.z10 .z10,
#zoomedto.z11 .z11,
#zoomedto.z12 .z12,
#zoomedto.z13 .z13,
#zoomedto.z14 .z14,
#zoomedto.z15 .z15,
#zoomedto.z16 .z16,
#zoomedto.z17 .z17,
#zoomedto.z18 .z18,
#zoomedto.z19 .z19,
#zoomedto.z20 .z20,
#zoomedto.z21 .z21,
#zoomedto.z22 .z22 {
  display:block;
  background:#fff;
  }
#zoomedto:target {
  z-index:1001;
  overflow:hidden;
  background:#eee;
  height:120px;
  left:0px;
  margin:0px;
  -moz-transition:height 100ms;
  -webkit-transition:height 100ms;
  }
#zoomedto:target .z0,
#zoomedto:target .z6,
#zoomedto:target .z12,
#zoomedto:target .z18 { top:0px; }
#zoomedto:target .z1,
#zoomedto:target .z7,
#zoomedto:target .z13,
#zoomedto:target .z19 { top:20px; }
#zoomedto:target .z2,
#zoomedto:target .z8,
#zoomedto:target .z14,
#zoomedto:target .z20 { top:40px; }
#zoomedto:target .z3,
#zoomedto:target .z9,
#zoomedto:target .z15,
#zoomedto:target .z21 { top:60px; }
#zoomedto:target .z4,
#zoomedto:target .z10,
#zoomedto:target .z16,
#zoomedto:target .z22 { top:80px; }
#zoomedto:target .z5,
#zoomedto:target .z11,
#zoomedto:target .z17,
#zoomedto:target .z23 { top:100px; }
#zoomedto:target .z6,
#zoomedto:target .z7,
#zoomedto:target .z8,
#zoomedto:target .z9,
#zoomedto:target .z10,
#zoomedto:target .z11 { left:25%; }
#zoomedto:target .z12,
#zoomedto:target .z13,
#zoomedto:target .z14,
#zoomedto:target .z15,
#zoomedto:target .z16,
#zoomedto:target .z17 { left:50%; }
#zoomedto:target .z18,
#zoomedto:target .z19,
#zoomedto:target .z20,
#zoomedto:target .z21,
#zoomedto:target .z22,
#zoomedto:target .z23 { left:75%; }
#zoomedto:target .z {
  width:25%;
  border:0px;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
  border-radius:0px;
  position:absolute;
  display:block;
  }
#zoomedto .close { display:none; }
#zoomedto:target .close {
  position:absolute;
  display:block;
  bottom:5px; right:5px;
  }

.dark #zoomedto { background:#282828; }
.dark #zoomedto.z0 .z0,
.dark #zoomedto.z1 .z1,
.dark #zoomedto.z2 .z2,
.dark #zoomedto.z3 .z3,
.dark #zoomedto.z4 .z4,
.dark #zoomedto.z5 .z5,
.dark #zoomedto.z6 .z6,
.dark #zoomedto.z7 .z7,
.dark #zoomedto.z8 .z8,
.dark #zoomedto.z9 .z9,
.dark #zoomedto.z10 .z10,
.dark #zoomedto.z11 .z11,
.dark #zoomedto.z12 .z12,
.dark #zoomedto.z13 .z13,
.dark #zoomedto.z14 .z14,
.dark #zoomedto.z15 .z15,
.dark #zoomedto.z16 .z16,
.dark #zoomedto.z17 .z17,
.dark #zoomedto.z18 .z18,
.dark #zoomedto.z19 .z19,
.dark #zoomedto.z20 .z20,
.dark #zoomedto.z21 .z21,
.dark #zoomedto.z22 .z22 { background:#333; }
.dark #zoomedto .z,
.dark #zoomedto strong { border-color:#222; }

.leaflet-container.dark .leaflet-bar,
.leaflet-container.dark .leaflet-bar a { border-color:#222; }

#map-overlay {
  position:absolute;
  top:0px; bottom:0px; width:100%;
  background:rgba(64,64,64,0.4);
  z-index:-1;
  opacity:0;
  -webkit-transition:opacity 200ms ease-in 100ms, z-index 200ms ease-in 100ms;
  }
#map-overlay:before {
  content:'';
  width:40px;
  height:40px;
  position:absolute; left:50%; top:50%;
  margin:-20px 0px 0px -20px;
  border-radius:50%;
  box-shadow:rgba(0,0,0,0.1) 0px 0px 0px 10px;
  background:#444 url(spinner.gif) 50% 50% no-repeat;
  }
.loading #map-overlay {
  z-index:1000;
  opacity:1;
  }

#map-errors {
  position:absolute;
  bottom:0px; width:100%;
  z-index:1000;
  }
#map-errors .msg {
  display:block;
  font-size:80%;
  padding:10px 20px;
  background-color:rgba(0,0,0,0.1);
  }

/* Menu (off-canvas) */
.menu {
  background:#444;
  background-image:-webkit-linear-gradient(#444 75%,#333);
  border-right:1px solid rgba(0,0,0,0.1);
  }
.menu-title {
  position:absolute;
  width:100%;
  left:0px;
  top:0px;
  }
.menu-content {
  overflow:auto;
  position:absolute;
  width:100%;
  left:0px;
  top:40px;
  bottom:0px;
  }
.menu h3,
.menu .item,
.menu .layer,
.menu .sortable-dragging,
.menu .sortable-placeholder {
  display:block;
  padding:10px 20px 9px;
  min-height:40px;
  position:relative;
  border-bottom:1px solid rgba(0,0,0,0.1);
  }
.menu nav {
  padding:5px 5px 4px;
  height:40px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  }
.menu nav h3 { padding:5px; border:0px; }
.menu nav a.left { position:absolute; top:5px; left:5px; }
.menu nav a.right { position:absolute; top:5px; right:5px; }
.menu nav a.button.title {
  background:#444;
  padding:4px 9px;
  border:1px solid #555;
  text-align:center;
  font-weight:normal;
  width:100px;
  }
.menu nav a.button.title:active { background-color:#333; }

/* Sortable states */
.menu .sortable-placeholder { background:rgba(0,0,0,0.1); }
.menu .sortable-dragging {
  background:#444;
  padding:9px 19px;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:4px;
  }

.hide { display:none; }
.hide:target { display:block; }

/* Data menu */
#layers a.layer { white-space:nowrap; }
#layers .data-y,
#layers .data-n { display:none; }

#layers a.delete {
  position:absolute; right:0px; top:1px;
  border:0px; height:38px; padding:9px 10px 9px;
  background:#444;
  display:none;
  }
#layers .sourcetype {
  position:absolute;
  top:10px; right:10px;
  font-size:80%;
  }
#layers .sourcetype * {
  padding-top:0px;
  padding-bottom:0px;
  height:20px;
  }
#layers .sourcetype.remote * { background-color:#48a; }
#layers .sourcetype.local * { background-color:#c84; }

#data:target ~ #layers { display:block; }
#data:target ~ #layers a.delete { display:block; }
#data:target ~ #layers .sourcetype { display:none; }

#layers a {
  color:#aaa;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }
#layers .geometry { opacity:0.6; }
#layers a.active { color:#fff; background:rgba(0,0,0,0.1); border-color:transparent; }
#layers a.active .geometry { opacity:1; }
#layers .delete {
  position:absolute;
  right:5px; top:10px;
  border-radius:50%;
  }
#layers .delete:hover { background:rgba(0,0,0,0.1); }
#layers .zooms,
#layers .datasource {
  position:absolute; right:0px; top:13px;
  background:rgba(0,0,0,0.1);
  padding:3px 5px;
  border-radius:2px 0px 0px 2px;
  font-size:10px; line-height:10px;
  }
#layers .datasource { right:30px; border-radius:2px; }
#layers small {
  display:none;
  color:#aaa;
  -webkit-transition:200ms;
  }
#layers small.desc {
  white-space:nowrap;
  text-overflow:ellipsis;
  }
#layers .active small { display:block; }
#layers .field {
  margin-left:80px;
  white-space:normal;
}
#layers .field code {
  color:#ff8;
  display:inline-block;
  margin-left:-80px;
  width:80px;
  overflow:hidden;
  }

.xrayswatch {
  display:inline-block;
  border-radius:2px;
  background:rgba(0,0,0,0.1);
  margin-right:5px;
  box-shadow:inset 0px 0px 0px 2px rgba(0,0,0,0.2);
  }
.xrayswatch.disabled { background:rgba(0,0,0,0.1) !important; }
.xrayswatch.disabled::before { visibility:hidden; }

/* Titlebar */
#title {
  background:#ddd;
  border-bottom:1px solid #ccc;
  padding:10px 10px 9px;
  height:40px;
  position:absolute;
  left:0px;
  width:100%;
  text-align:center;
  }
#title .left {
  position:absolute;
  left:5px; top:5px;
  }
#title .right {
  position:absolute;
  right:5px; top:5px;
  }
#title .button { background-color:#eee; }
#title .button:active { background-color:rgba(0,0,0,0.2); }

#title.dark {
  background:#333;
  border-color:rgba(0,0,0,0.1);
  }
#title.dark .button { background-color:rgba(0,0,0,0.1); }
#title.dark .button:active { background-color:rgba(0,0,0,0.2); }

/* Project history */
#settings-style,
#settings-source { display:none; }
#settings-style.active,
#settings-source.active { display:block; }

/* Modal popup */
.modal {
  display:none;
  position:absolute; left:50%; top:20%; z-index:2001;
  padding:20px;
  border-radius:4px;
  width:320px;
  background:#444;
  box-shadow:rgba(0,0,0,0.1) 0px 0px 0px 3px;
  margin:0px 0px 0px -160px;
  }
.modal .close {
  position:absolute; top:-15px; right:-15px;
  border-radius:50%;
  }
#mask {
  display:none;
  position:absolute; z-index:2000;
  width:100%; height:100%;
  background:rgba(0,0,0,0.8);
  }
.modal:target,
.modal:target ~ #mask { display:block; }

/* Forms */
select,
input[type=text],
input[type=search],
input[type=password],
textarea {
  display:inline-block;
  max-width:100%;
  vertical-align:middle;
  height:30px;
  padding:5px;
  margin:0px;
  border-radius:2px;
  background:#eee;
  border:1px solid #bbb;
  outline:0px;
  box-shadow:inset #ddd 0px 0px 0px 2px;
  }
textarea { resize:none; height:100px; }
input[type=text]:focus,
input[type=search]:focus,
input[type=password]:focus,
textarea:focus {
  background:#fff;
  border-color:#888;
  outline:none;
  }
input[type=range],
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance:none;
  margin:0px; padding:0px; border:0px;
  }
input[type=range] {
  display:inline-block !important;
  vertical-align:middle;
  height:20px;
  min-width:200px;
  padding:0px 3px;
  width:33.3333%;
  border:2px solid #ddd;
  border-radius:2px;
  box-shadow:
    inset #eee 0px 0px 0px 6px,
    #bbb 0px 0px 0px 1px;
  background:#aaa;
  display:block;
  overflow:hidden;
  }
input[type=range]::-webkit-slider-thumb {
  cursor:pointer;
  height:12px; width:20px;
  border-radius:2px;
  background:#666;
  box-shadow:#eee 300px 0px 0px 290px;
  }

input.stretch,
textarea.stretch { width:100%; }

label.ghost {
  position:absolute;
  width:50px;
  margin:5px 0px 0px -60px;
  border-radius:3px;
  text-align:right;
  font-size:80%;
  opacity:0.2;
  }

label.inline { display:inline-block; width:100px; }

label.range {
  display:inline-block;
  width:30px;
  font-weight:bold;
  text-align:center;
  }

.dark select,
.dark input[type=text],
.dark input[type=search],
.dark input[type=password],
.dark textarea {
  color:#fff;
  background:#333;
  border:1px solid #282828;
  box-shadow:inset #303030 0px 0px 0px 2px;
  }
.dark input[type=text]:focus,
.dark input[type=search]:focus,
.dark input[type=password]:focus,
.dark textarea:focus {
  background:#282828;
  border-color:#222;
  outline:none;
  }
.dark input[type=range] {
  border:2px solid #303030;
  border-radius:2px;
  box-shadow:
    inset #333 0px 0px 0px 6px,
    #282828 0px 0px 0px 1px;
  background:#444;
  display:block;
  overflow:hidden;
  }
.dark input[type=range]::-webkit-slider-thumb {
  cursor:pointer;
  height:12px; width:20px;
  border-radius:2px;
  background:#666;
  box-shadow:#333 300px 0px 0px 290px;
  }

select:disabled,
input[type=text]:disabled,
input[type=range]:disabled,
input[type=search]:disabled,
input[type=password]:disabled,
textarea:disabled { opacity:0.5; }

/* CodeMirror*/
.CodeMirror,
.CodeMirror * {
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  }
.CodeMirror {
  position:absolute;
  background:#f8f8f8;
  top:40px; bottom:0px;
  width:100%; height:auto;
  visibility:hidden;
  }
.CodeMirror-lines,
.CodeMirror-gutter-text { padding:0px; }
.CodeMirror-gutter-text pre { padding:0px 5px; }
.CodeMirror-lines { padding:0px 10px; }
.CodeMirror-scroll { height:100%; }
.CodeMirror.active { visibility:visible; }
.CodeMirror-gutter {
  background:#f8f8f8;
  width:39px !important;
  border-right:1px solid #ddd;
  }
.CodeMirror-gutter .error {
  position:relative;
  background:#ff8;
  color:#880;
  }
.CodeMirror-gutter .error .message {
  position:absolute; left:0%; top:100%;
  display:none;
  background:#ff8;
  font-size:80%;
  white-space:normal !important;
  text-align:left;
  width:240px;
  padding:5px 30px 5px 10px;
  border-radius:0px 3px 3px 0px;
  }
.CodeMirror-gutter .error .icon {
  position:absolute; top:0px; right:0px;
  border-radius:50%;
  width:20px; height:20px;
  text-align:center;
  }
.CodeMirror-gutter .error a:target ~ .message { display:block; }
span.cm-keyword,
span.cm-carto-variable           { color:#708; }
span.cm-carto-color-variable     { color:#B60049; }
span.cm-number,
span.cm-carto-unit               { color:#281; }
span.cm-atom,
span.cm-carto-value              { color:#708; }
span.cm-carto-valid-value        { color:#B60049; }
span.cm-carto-selector           { color:#b64f90; }
span.cm-carto-identifier         { color:#999; }
span.cm-carto-valid-identifier   { color:#333; }
span.cm-carto-important          { color:#03c; }
span.cm-carto-colorcode          { color:#048; }
span.cm-carto-punctuation        { color:#666; }
span.cm-carto-comment            { color:#999; }
span.cm-string,
span.cm-carto-string             { color:#8010a0; }
span.cm-carto-filter             { color:#66475B; }

.dark .CodeMirror { background:transparent; }
.dark .CodeMirror-gutter { background:transparent; border-color:rgba(0,0,0,0.1); }
.dark .CodeMirror pre.CodeMirror-cursor { border-color:#ccc; }
.dark span.cm-keyword,
.dark span.cm-carto-variable           { color:#d6e; }
.dark span.cm-number,
.dark span.cm-carto-unit               { color:#9d7; }
.dark span.cm-string,
.dark span.cm-carto-string             { color:#d7f; }
.dark span.cm-atom,
.dark span.cm-carto-value              { color:#d6e; }

/* File browser modal */
.modal.browser {
  top:10%; bottom:10%;
  padding:0px;
  }
.modal.browser .cwd,
.modal.browser .list,
.modal.browser .field { position:absolute; width:100%; }
.modal.browser .cwd {
  z-index:1;
  height:50px;
  padding:10px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  border-bottom:1px solid rgba(0,0,0,0.1);
  }
.modal.browser .cwd a { margin-right:10px; }
.modal.browser .field {
  z-index:1;
  bottom:0px;
  height:50px;
  padding:9px 20px 10px;
  border-top:1px solid rgba(0,0,0,0.1);
  }
.modal.browser .list {
  top:50px; bottom:50px;
  overflow:auto;
  background:#3c3c3c;
  }
.modal.browser .list a {
  display:block;
  padding:5px 20px 4px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  border-bottom:1px solid rgba(0,0,0,0.1);
  }

/* Media queries */
@media (max-width:800px) {
  body { font-size:12px; }
  pre, .CodeMirror { font-size:11px; }
  a.section,
  section { float:none; width:auto; }
  }
@media (min-width: 1580px) {
  #code { left:55%; width:45%; }
  #docs,
  #full { width:55%; }
  .pane:target ~ #full,
  .menu:target ~ #full { width:50%; }
  }
@media (min-width: 1780px) {
  #code { left:60%; width:40%; }
  #docs,
  #full { width:60%; }
  }

/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
