@font-face {
  font-family:Opensans;
  src: url('../ext/opensans-regular.woff') format('woff');
  }

@font-face {
  font-family:Opensans;
  font-weight:bold;
  src: url('../ext/opensans-bold.woff') format('woff');
  }

@font-face {
  font-family:Droidsansmono;
  src: url('../ext/droidsansmono.woff') format('woff');
  }

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  }

html, body { height:100%; }
body {
  margin:0px;
  padding:0px;
  font:normal 14px/20px Opensans,sans-serif;
  background:#444;
  color:#444;
  overflow:hidden;
  }

.ui { color:#fff; }

::-webkit-scrollbar { width:6px; height:6px; }
::-webkit-scrollbar-track { background:transparent; border-left:1px solid rgba(0,0,0,0.2); }
::-webkit-scrollbar-thumb { background:rgba(0,0,0,0.4); }

h1,h2,h3,h4,h5,h6,p {
  margin:0px;
  padding:0px;
  font-size:100%;
  }
p { margin-bottom:10px; }

section {
  padding:20px 40px 19px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  }
section > *:last-child { margin-bottom:0px; }

a { color:inherit; text-decoration:none; }

a.button {
  display:inline-block;
  font-weight:bold;
  color:#fff;
  background:rgba(0,0,0,0.8);
  padding:5px 10px;
  vertical-align:middle;
  border-radius:4px;
  }

a.button.icon {
  width:30px;
  padding:5px;
  text-align:center;
  }

nav { white-space:nowrap; }
nav > a {
  display:inline-block;
  text-align:center;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }

#full {
  position:fixed;
  width:50%;
  left:0px;
  top:0px;
  bottom:0px;
  }

#map {
  background:#fff;
  position:absolute !important;
  top:0px; bottom:0px; left:0px;
  width:100%;
  }

body.xray #map { background:#000; }

#map .xray,
#map .zoomer { margin-top:40px; }

#map .xray {
  position:absolute;
  left:80px;
  top:10px;
  z-index:1000;
  }

#menu {
  position:fixed;
  left:-50%;
  width:25%;
  bottom:0px;
  top:0px;
  border-right:1px solid rgba(0,0,0,0.2);
  }
#menu nav {
  height:40px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  }
#menu nav a {
  padding:10px 10px 9px;
  width:25%;
  border-left:1px solid rgba(0,0,0,0.2);
  }
#menu nav a.active { background:rgba(0,0,0,0.2); }
#menu nav a:first-child { border:0px; }
#menu nav a.major { width:75%; }
#menu > a.button {
  display:none;
  background:#444;
  box-shadow:inset rgba(255,255,255,0.2) 0px 0px 0px 1px;
  position:absolute; top:5px; left:5px;
  }
#menu > div {
  display:none;
  position:absolute;
  top:40px; bottom:0px;
  width:100%;
  overflow:auto;
  }
#menu > .active { display:block; }

#menu-util > * {
  display:block;
  padding:10px 20px 9px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  }

#menu-layers.active ~ a.data.n { display:block; }

#menu-layers a,
#menu-layers h3 {
  display:block;
  padding:10px 20px 9px;
  white-space:nowrap;
  position:relative;
  border-bottom:1px solid rgba(0,0,0,0.2);
  }
#menu-layers a.delete {
  position:absolute; right:0px; top:0px;
  padding:10px 10px 9px; border:0px;
  background:#444;
  display:none;
  }
#data:target ~ * #menu-layers a.delete { display:block; }
#data:target ~ * #menu-layers h3::before { display:none; }
#menu-layers h3::before {
  content:'';
  position:absolute; right:10px; top:10px;
  display:block;
  background:#444;
  border:5px solid #333;
  width:10px; height:10px;
  border-radius:50%;
  }
#menu-layers h3.remote::before { background:#8c8; }
#menu-layers a {
  color:#aaa;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }
#menu-layers a.active { color:#fff; background:#333; }
#menu-layers .geometry {
  position:absolute; left:0px;
  text-align:center;
  width:20px;
  }
#menu-layers .geometry::before { content:'◌'; }
#menu-layers .geometry.point::before { content:'⚫'; }
#menu-layers .geometry.line::before { content:'━'; }
#menu-layers .geometry.polygon::before { content:'◢'; }
#menu-layers .zooms {
  position:absolute; right:0px; top:13px;
  background:rgba(0,0,0,0.1);
  padding:3px 5px;
  border-radius:2px 0px 0px 2px;
  font-size:10px; line-height:10px;
  }
#menu-layers small {
  display:none;
  width:200%;
  color:#aaa;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-transition:margin-left 200ms;
  }
#menu-layers .active small { display:block; }
#menu-layers .more small { margin-left:-100%; }
#menu-layers code {
  color:#ff8;
  display:inline-block;
  width:80px;
  overflow:hidden;
  }
#menu-layers .moreless {
  position:absolute; bottom:0px; right:0px;
  display:none;
  background:#222;
  text-align:center;
  width:20px;
  }
#menu-layers .moreless::before { content:'✚'; }
#menu-layers .more .moreless::before { content:'✖'; }
#menu-layers .active .moreless { display:block; }

#title {
  background:rgba(48,48,48,0.9);
  border-bottom:1px solid rgba(0,0,0,0.2);
  padding:10px 10px 9px;
  height:40px;
  position:absolute;
  left:0px;
  width:100%;
  z-index:1001;
  text-align:center;
  }

#title .left {
  position:absolute;
  left:5px; top:5px;
  }
#title .right {
  position:absolute;
  right:5px; top:5px;
  }

#menu:target,
#data:target ~ #menu { left:0%; }
#data:target ~ #full,
#menu:target ~ #full { left:25%; }
#data:target ~ #code,
#menu:target ~ #code { left:75%; }

#full:target { width:100%; }
#full:target ~ #code { left:100%; }

.menu.y { display:none; }
.full.y { display:none; }
.docs.y { display:none; }
.data.y { display:none; }
#menu:target ~ * .menu.n,
#full:target .full.n { display:none; }
#data:target ~ * a.minor,
#menu:target ~ * .full.n,
#full:target .menu.n { pointer-events:none; opacity:0.5; }
#menu:target ~ * .menu.y,
#data:target ~ * .data.y,
#full:target .full.y { display:inline-block; }

.column {
  box-shadow:rgba(0,0,0,0.1) -3px 0px 0px;
  -webkit-transition:left 200ms, width 200ms;
  }

#data {
  position:fixed;
  z-index:1;
  top:0px; bottom:0px; left:125%;
  width:75%; height:100%;
  background:#444;
  }
#data:target { left:25%; }

div.source { position:relative; }
div.source section { cursor:pointer; }
div.source section > * {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }
#data div.source > a,
#data div.source > h3,
#menu-layers div.source > section { display:none; }

#code {
  position:fixed;
  left:50%;
  top:0px;
  bottom:0px;
  width:50%;
  background:#f8f8f8;
  }
#code .left {
  position:absolute;
  width:40px; height:40px;
  background:#eee;
  border-right:1px solid #ddd;
  }
#code .docs {
  position:absolute;
  left:5px;
  top:5px;
  }

#tabs {
  position:absolute;
  left:40px;
  right:0px;
  height:40px;
  border-bottom:1px solid #ddd;
  background:#eee;
  }
#tabs a.tab {
  border-right:1px solid #ddd;
  padding:10px 30px 9px 10px;
  position:relative;
  background:#eee;
  overflow:hidden;
  text-overflow:ellipsis;
  }
#tabs a.tab.active {
  background:#f8f8f8;
  border-bottom:1px solid #f8f8f8;
  }
#tabs a.tab span.delete {
  display:block;
  position:absolute;
  right:5px; top:10px;
  width:20px;
  line-height:20px;
  text-align:center;
  border-radius:50%;
  }
#tabs a.tab span.delete:hover { background:rgba(0,0,0,0.05); }

#tabs a.tab:first-child:nth-last-child(1) { max-width:100%; }
#tabs a.tab:first-child:nth-last-child(2),
#tabs a.tab:first-child:nth-last-child(2) ~ a.tab { max-width:50.00%; }
#tabs a.tab:first-child:nth-last-child(3),
#tabs a.tab:first-child:nth-last-child(3) ~ a.tab { max-width:33.33%; }
#tabs a.tab:first-child:nth-last-child(4),
#tabs a.tab:first-child:nth-last-child(4) ~ a.tab { max-width:25.00%; }
#tabs a.tab:first-child:nth-last-child(5),
#tabs a.tab:first-child:nth-last-child(5) ~ a.tab { max-width:20.00%; }
#tabs a.tab:first-child:nth-last-child(6),
#tabs a.tab:first-child:nth-last-child(6) ~ a.tab { max-width:16.66%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(7),
#tabs a.tab:first-child:nth-last-child(7) ~ a.tab { max-width:14.28%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(8),
#tabs a.tab:first-child:nth-last-child(8) ~ a.tab { max-width:12.50%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(9),
#tabs a.tab:first-child:nth-last-child(9) ~ a.tab { max-width:11.11%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(10),
#tabs a.tab:first-child:nth-last-child(10) ~ a.tab { max-width:10.00%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(11),
#tabs a.tab:first-child:nth-last-child(11) ~ a.tab { max-width:9.09%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(12),
#tabs a.tab:first-child:nth-last-child(12) ~ a.tab { max-width:8.33%; font-size:80%; }

#docs {
  position:absolute;
  left:0%; bottom:100%;
  width:50%; height:100%;
  background:#444;
  -webkit-transition:bottom 200ms;
  }
#docs:target { bottom:0%; }
#docs:target ~ * .docs.y { display:block; }
#docs:target ~ * .docs.n { display:none; }
#docs article {
  position:absolute;
  top:90px; bottom:0px; width:100%;
  display:none;
  overflow:auto;
  }
#docs article.active { display:block; }
#docs nav {
  position:absolute;
  height:90px;
  width:100%;
  }
#docs nav a {
  overflow:hidden;
  padding:5px 10px 4px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  border-left:1px solid rgba(0,0,0,0.2);
  width:25%;
  text-align:center;
  }
#docs nav a:nth-child(1),
#docs nav a:nth-child(2) { width:12.5%; }
#docs nav a.active { background:rgba(0,0,0,0.2); }

pre,
.CodeMirror { font:13px/20px normal Droidsansmono,monospace; }

.CodeMirror,
.CodeMirror * {
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  }
.CodeMirror {
  position:absolute;
  top:40px; bottom:0px;
  width:100%; height:auto;
  visibility:hidden;
  }
.CodeMirror-gutter { background:#eee; width:39px !important; }
.CodeMirror.active { visibility:visible; }

span.cm-carto-variable           { color:#708; }
span.cm-carto-color-variable     { color:#B60049; }
span.cm-carto-unit               { color:#281; }
span.cm-carto-value              { color:#708; }
span.cm-carto-valid-value        { color:#B60049; }
span.cm-carto-selector           { color:#b64f90; }
span.cm-carto-identifier         { color:#999; }
span.cm-carto-valid-identifier   { color:#333; }
span.cm-carto-important          { color:#03c; }
span.cm-carto-colorcode          { color:#048; }
span.cm-carto-punctuation        { color:#666; }
span.cm-carto-comment            { color:#999; }
span.cm-carto-string             { color:#8010a0; }
span.cm-carto-filter             { color:#66475B; }

@media (max-width:800px) {
  body { font-size:12px; }
  pre, .CodeMirror { font-size:11px; }
  }
