@font-face {
  font-family:Opensans;
  src: url('../ext/opensans-regular.woff') format('woff');
  }

@font-face {
  font-family:Opensans;
  font-weight:bold;
  src: url('../ext/opensans-bold.woff') format('woff');
  }

@font-face {
  font-family:Droidsansmono;
  src: url('../ext/droidsansmono.woff') format('woff');
  }

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  }

html, body { height:100%; }

body,
input,
textarea { font:normal 14px/20px Opensans,sans-serif; }
pre,
.CodeMirror { font:13px/20px normal Droidsansmono,monospace; }

/* Base styles */
body {
  margin:0px;
  padding:0px;
  background:#444;
  color:#444;
  overflow:hidden;
  }

.ui { color:#fff; }

::-webkit-scrollbar { width:6px; height:6px; }
::-webkit-scrollbar-track { background:transparent; border-left:1px solid rgba(0,0,0,0.2); }
::-webkit-scrollbar-thumb { background:rgba(0,0,0,0.4); }

h1,h2,h3,h4,h5,h6,p {
  margin:0px;
  padding:0px;
  font-size:100%;
  }
h1,h2 { font-size:125%; }
p { margin-bottom:10px; }

section {
  padding:20px 40px 19px;
  border-right:1px solid rgba(0,0,0,0.2);
  border-bottom:1px solid rgba(0,0,0,0.2);
  }
section > *:last-child { margin-bottom:0px; }
section.thumbed {
  position:relative;
  padding-left:100px;
  float:left;
  width:50%;
  min-height:100px;
  }
section .image {
  position:absolute;
  left:20px; top:20px; width:60px; height:60px;
  background-color:rgba(0,0,0,0.1);
  background-size:cover;
  background-position:50% 50%;
  border-radius:4px;
  box-shadow:inset rgba(0,0,0,0.2) 0px 0px 0px 3px;
  }
section > * {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }

a { color:inherit; text-decoration:none; }

input[type=button],
input[type=submit],
a.button {
  color:inherit;
  display:inline-block;
  font-weight:bold;
  border:0px;
  cursor:pointer;
  padding:5px 10px;
  vertical-align:middle;
  border-radius:4px;
  }

.ui input[type=button],
.ui input[type=submit],
.ui a.button { background:rgba(0,0,0,0.8); }

a.button.icon {
  width:30px;
  padding:5px;
  text-align:center;
  }

nav { white-space:nowrap; }
nav > a {
  display:inline-block;
  text-align:center;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }

.column {
  box-shadow:rgba(0,0,0,0.1) -3px 0px 0px;
  -webkit-transition:left 200ms, width 200ms;
  }

.pane {
  position:absolute;
  z-index:1002;
  left:25%; bottom:100%;
  width:75%; height:100%;
  background:#444;
  overflow:auto;
  -webkit-transition:bottom 200ms;
  }
.pane > * { display:none; }
.pane:target > * { display:block; }
.pane:target { bottom:0%; }
.pane .close { position:absolute; right:10px; top:10px; }

/* Map */
#full {
  position:absolute;
  width:50%;
  left:0px;
  top:0px;
  bottom:0px;
  overflow:auto;
  }
#full.wide { width:100%; }
#map {
  background:#fff;
  position:absolute !important;
  top:0px; bottom:0px; left:0px;
  width:100%;
  }
#map #zoomedto,
#map .zoomer { margin-top:40px; }
#map #zoomedto {
  background:rgba(48,48,48,0.9);
  border-radius:3px;
  width:30px; height:20px;
  text-align:center;
  font-weight:bold;
  font-size:10px;
  position:absolute; left:75px; top:15px; z-index:1000;
  }
#map #zoomedto::before { content:'z'; }
#title {
  background:rgba(48,48,48,0.9);
  border-bottom:1px solid rgba(0,0,0,0.2);
  padding:10px 10px 9px;
  height:40px;
  position:absolute;
  left:0px;
  width:100%;
  z-index:1001;
  text-align:center;
  }
#title .left {
  position:absolute;
  left:5px; top:5px;
  }
#title .right {
  position:absolute;
  right:5px; top:5px;
  }

/* Menu (off-canvas) */
#menu {
  position:absolute;
  left:-50%;
  width:25%;
  bottom:0px;
  top:0px;
  border-right:1px solid rgba(0,0,0,0.2);
  }
#menu nav {
  height:40px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  }
#menu nav a {
  padding:10px 10px 9px;
  width:25%;
  border-left:1px solid rgba(0,0,0,0.2);
  }
#menu nav h3 {
  padding:10px 20px 9px;
  border-left:1px solid rgba(0,0,0,0.2);
  }
#menu nav a.active { background:rgba(0,0,0,0.2); }
#menu nav a:first-child { border:0px; }
#menu nav a.major { width:75%; }
#menu > a.data {
  display:none;
  background:#333;
  font-weight:normal;
  box-shadow:inset rgba(255,255,255,0.1) 0px 0px 0px 1px;
  position:absolute; top:5px; left:62.5%;
  width:100px; margin-left:-50px;
  text-align:center;
  }
#menu > div {
  display:none;
  position:absolute;
  top:40px; bottom:0px;
  width:100%;
  overflow:auto;
  }
#menu > .active { display:block; }

/* Util menu */
#menu-util > * {
  display:block;
  padding:10px 20px 9px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  }
#menu-util > a { padding-left:30px; }
#menu-util > a:hover { background-color:rgba(255,255,255,0.1); }
#settings:target ~ * a[href='#settings'],
#export:target   ~ * a[href='#export'],
#upload:target   ~ * a[href='#upload'],
#interaction:target ~ * a[href='#interaction'] { background:rgba(0,0,0,0.1); }

/* Data menu */
#menu-layers a,
#menu-layers h3 {
  display:block;
  padding:10px 20px 9px;
  white-space:nowrap;
  position:relative;
  border-bottom:1px solid rgba(0,0,0,0.2);
  }
#menu-layers a.delete {
  position:absolute; right:0px; top:0px;
  padding:10px 10px 9px; border:0px;
  background:#444;
  display:none;
  }
#data:target ~ * #menu-layers a.delete { display:block; }
#data:target ~ * #menu-layers h3::before { display:none; }
#menu-layers h3::before {
  content:'';
  position:absolute; right:10px; top:10px;
  display:block;
  background:#444;
  border:5px solid #333;
  width:10px; height:10px;
  border-radius:50%;
  }
#menu-layers h3.remote::before { background:#8c8; }
#menu-layers a {
  color:#aaa;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  }
#menu-layers a.active { color:#fff; background:#333; }
#menu-layers .geometry { display:inline-block; width:20px; }
#menu-layers .geometry::before { content:'◌'; }
#menu-layers .geometry.point::before { content:'⚫'; }
#menu-layers .geometry.line::before { content:'━'; }
#menu-layers .geometry.polygon::before { content:'◢'; }
#menu-layers .zooms {
  position:absolute; right:0px; top:13px;
  background:rgba(0,0,0,0.1);
  padding:3px 5px;
  border-radius:2px 0px 0px 2px;
  font-size:10px; line-height:10px;
  }
#menu-layers small {
  display:none;
  width:200%;
  color:#aaa;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-transition:margin-left 200ms;
  }
#menu-layers .active small { display:block; }
#menu-layers .more small { margin-left:-100%; }
#menu-layers code {
  color:#ff8;
  display:inline-block;
  width:80px;
  overflow:hidden;
  }
#menu-layers .moreless {
  position:absolute; bottom:0px; right:0px;
  display:none;
  background:#222;
  text-align:center;
  width:20px;
  }
#menu-layers .moreless::before { content:'✚'; }
#menu-layers .more .moreless::before { content:'✖'; }
#menu-layers .active .moreless { display:block; }

/* Data library */
div.source { position:relative; }
div.source section { cursor:pointer; }
#data div.source > a,
#data div.source > h3,
#menu-layers div.source > section { display:none; }

/* Visibility */
/* Off-canvas menu vs. Content */
#menu:target,
.pane:target ~ #menu { left:0%; }
.pane:target ~ #full,
#menu:target ~ #full { left:25%; }
.pane:target ~ #code,
#menu:target ~ #code { left:75%; }
#full:target { width:100%; }
#full:target ~ #code { left:100%; }

/* Button visibility/clickability */
.menu.y { display:none; }
.full.y { display:none; }
.docs.y { display:none; }
.data.y { display:none; }
.pane:target ~ * a.minor,
.pane:target ~ * a.major,
#menu:target ~ * .full.n,
#full:target .menu.n { pointer-events:none; opacity:0.5; }
#menu:target ~ * .menu.y,
#data:target ~ * .data.y,
#full:target .full.y { display:inline-block; }
#menu:target ~ * .menu.n,
#full:target .full.n { display:none; }

/* Overrides for util panes vs. Menu */
#menu-layers.active ~ a.data.n { display:block; }
.util:target ~ * a.data.n,
.util:target ~ * a.data.y { display:none !important; }
.util:target ~ #menu #menu-util { display:block; }
.util:target ~ #menu #menu-layers { display:none; }

/* Code pane */
#code {
  position:absolute;
  left:50%;
  top:0px;
  bottom:0px;
  width:50%;
  background:#f8f8f8;
  }
#code .left {
  position:absolute;
  width:40px; height:40px;
  background:#eee;
  border-right:1px solid #ddd;
  }
#code .right {
  position:absolute; right:0px;
  width:40px; height:40px;
  padding:5px;
  background:#eee;
  border-bottom:1px solid #ddd;
  }
#code .docs {
  position:absolute;
  left:5px;
  top:5px;
  }

/* Editor tabs */
#tabs {
  position:absolute;
  left:40px;
  right:40px;
  height:40px;
  border-bottom:1px solid #ddd;
  background:#eee;
  }
#tabs a.tab {
  border-right:1px solid #ddd;
  padding:10px 30px 9px 10px;
  position:relative;
  background:#eee;
  overflow:hidden;
  text-overflow:ellipsis;
  }
#tabs a.tab.active {
  background:#f8f8f8;
  border-bottom:1px solid #f8f8f8;
  }
#tabs a.tab span.delete {
  display:block;
  position:absolute;
  right:5px; top:10px;
  width:20px;
  line-height:20px;
  text-align:center;
  border-radius:50%;
  }
#tabs a.tab span.delete:hover { background:rgba(0,0,0,0.05); }
#tabs a.tab:first-child:nth-last-child(1) { max-width:100%; }
#tabs a.tab:first-child:nth-last-child(2),
#tabs a.tab:first-child:nth-last-child(2) ~ a.tab { max-width:50.00%; }
#tabs a.tab:first-child:nth-last-child(3),
#tabs a.tab:first-child:nth-last-child(3) ~ a.tab { max-width:33.33%; }
#tabs a.tab:first-child:nth-last-child(4),
#tabs a.tab:first-child:nth-last-child(4) ~ a.tab { max-width:25.00%; }
#tabs a.tab:first-child:nth-last-child(5),
#tabs a.tab:first-child:nth-last-child(5) ~ a.tab { max-width:20.00%; }
#tabs a.tab:first-child:nth-last-child(6),
#tabs a.tab:first-child:nth-last-child(6) ~ a.tab { max-width:16.66%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(7),
#tabs a.tab:first-child:nth-last-child(7) ~ a.tab { max-width:14.28%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(8),
#tabs a.tab:first-child:nth-last-child(8) ~ a.tab { max-width:12.50%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(9),
#tabs a.tab:first-child:nth-last-child(9) ~ a.tab { max-width:11.11%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(10),
#tabs a.tab:first-child:nth-last-child(10) ~ a.tab { max-width:10.00%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(11),
#tabs a.tab:first-child:nth-last-child(11) ~ a.tab { max-width:9.09%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(12),
#tabs a.tab:first-child:nth-last-child(12) ~ a.tab { max-width:8.33%; font-size:80%; }

/* Carto ref docs */
#docs {
  position:absolute;
  left:0%; bottom:100%;
  width:50%; height:100%;
  z-index:1002;
  background:#444;
  -webkit-transition:bottom 200ms;
  }
#docs:target { bottom:0%; }
#docs:target ~ * .docs.y { display:block; }
#docs:target ~ * .docs.n { display:none; }
#docs article {
  position:absolute;
  top:90px; bottom:0px; width:100%;
  display:none;
  overflow:auto;
  }
#docs article.active { display:block; }
#docs nav {
  position:absolute;
  height:90px;
  width:100%;
  }
#docs nav a {
  overflow:hidden;
  padding:5px 10px 4px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  border-left:1px solid rgba(0,0,0,0.2);
  width:25%;
  text-align:center;
  }
#docs nav a:nth-child(1),
#docs nav a:nth-child(2) { width:12.5%; }
#docs nav a.active { background:rgba(0,0,0,0.2); }

/* Project history */
#history { padding-top:40px; }

/* Modal popup */
.modal { display:none; }
.modal:target {
  display:block;
  position:absolute; left:50%; top:20%; z-index:2001;
  padding:20px;
  border-radius:4px;
  width:320px;
  background:#444;
  box-shadow:rgba(0,0,0,0.2) 0px 0px 0px 3px;
  margin:0px 0px 0px -160px;
  }
.modal .close {
  position:absolute; top:-10px; right:-10px;
  border-radius:50%;
  }
#mask {
  display:none;
  position:absolute; z-index:2000;
  width:100%; height:100%;
  background:rgba(0,0,0,0.8);
  }
.modal:target ~ #mask { display:block; }

/* Forms */
select,
input[type=text],
input[type=search],
input[type=password],
textarea {
  display:inline-block;
  max-width:100%;
  vertical-align:middle;
  height:30px;
  padding:5px;
  border-radius:2px;
  background:#eee;
  border:1px solid rgba(0,0,0,0.2);
  box-shadow:inset rgba(0,0,0,0.1) 0px 0px 0px 1px;
  -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 0px 0px 1px;
  }

textarea { resize:none; height:100px; }

input[type=range],
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance:none;
  margin:0px; padding:0px; border:0px;
  }
input[type=range] {
  display:inline-block !important;
  vertical-align:middle;
  height:20px;
  min-width:200px;
  width:33.3333%;
  border:1px solid #222;
  border-radius:2px;
  box-shadow:
    inset #333 0px 0px 0px 8px,
    inset rgba(0,0,0,0.2) 0px 0px 0px 2px;
  background:#68a;
  display:block;
  overflow:hidden;
  }
input[type=range]::-webkit-slider-thumb {
  cursor:pointer;
  height:20px; width:20px;
  border-radius:3px;
  background:#222;
  box-shadow:#333 300px 0px 0px 290px;
  }

label.inline { display:inline-block; width:100px; }

/* CodeMirror*/
.CodeMirror,
.CodeMirror * {
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  }
.CodeMirror {
  position:absolute;
  top:40px; bottom:0px;
  width:100%; height:auto;
  visibility:hidden;
  }
.CodeMirror-lines,
.CodeMirror-gutter-text { padding:0px; }
.CodeMirror-gutter-text pre { padding:0px 5px; }
.CodeMirror-lines { padding:0px 10px; }
.CodeMirror-scroll { height:100%; }
.CodeMirror.active { visibility:visible; }
.CodeMirror-gutter {
  background:#eee;
  width:39px !important;
  border-right:1px solid #ddd;
  }
.CodeMirror-gutter .error {
  position:relative;
  background:#ff8;
  color:#880;
  }
.CodeMirror-gutter .error .message {
  position:absolute; left:0%; top:100%;
  display:none;
  background:#ff8;
  font-size:80%;
  white-space:normal !important;
  text-align:left;
  width:240px;
  padding:5px 30px 5px 10px;
  border-radius:0px 3px 3px 0px;
  }
.CodeMirror-gutter .error .icon {
  position:absolute; top:0px; right:0px;
  border-radius:50%;
  width:20px; height:20px;
  text-align:center;
  }
.CodeMirror-gutter .error a:target ~ .message { display:block; }
span.cm-carto-variable           { color:#708; }
span.cm-carto-color-variable     { color:#B60049; }
span.cm-carto-unit               { color:#281; }
span.cm-carto-value              { color:#708; }
span.cm-carto-valid-value        { color:#B60049; }
span.cm-carto-selector           { color:#b64f90; }
span.cm-carto-identifier         { color:#999; }
span.cm-carto-valid-identifier   { color:#333; }
span.cm-carto-important          { color:#03c; }
span.cm-carto-colorcode          { color:#048; }
span.cm-carto-punctuation        { color:#666; }
span.cm-carto-comment            { color:#999; }
span.cm-carto-string             { color:#8010a0; }
span.cm-carto-filter             { color:#66475B; }

/* Media queries */
@media (max-width:800px) {
  body { font-size:12px; }
  pre, .CodeMirror { font-size:11px; }
  section { float:none; width:auto; }
  }
