/* Layout
------------------------------------------------------- */

#print-ui {
  box-shadow: rgba(0,0,0,0.1) -2px 0px 0px;
}

#full {
  min-width: calc(66.6666% + 80px);
  right: 400px;
  /* no left sidebar */
  left: -80px;
}

/* Map overlay
------------------------------------------------------- */
a.toolbar-button {
  top: 10px;
  left: 10px;
  margin-left: -80px;
}

a.toolbar-button:hover { background: rgba(0,0,0,.75);}

#reselect {
  top: 10px;
  right: 10px;
  position: absolute;
  padding-right: 5px;
}

#recenter {
  top: 10px;
  right: 148px;
  position: absolute;
  padding-right: 5px;
}

/* locationfilter default overrides */
div.leaflet-marker-icon.location-filter.resize-marker {
  background: #3887be;
  border: 2px solid white;
  border-radius: 50%;
  height: 14px !important;
  width: 14px !important;
}

div.leaflet-marker-icon.location-filter.resize-marker:hover,
div.leaflet-marker-icon.location-filter.resize-marker.leaflet-drag-target {
  background: #3bb2d0;
}

div.leaflet-marker-icon.location-filter.move-marker {
  background: url(../app/move-handle.png) 0 0;
  background-size: 34px 17px;
  height: 17px !important;
  width: 17px !important;
}

div.leaflet-marker-icon.location-filter.move-marker:hover,
div.leaflet-marker-icon.location-filter.move-marker.leaflet-drag-target {
  background-position: 17px 0;
}

/* Export pane
------------------------------------------------------- */
.col-input input { border-right-width: 0;}
.col-input:last-of-type input { border-right-width: 1px;}

.warning, input.warning  { color: #ee8a65 !important; }

.close { z-index: 10; }
.icon.reselect:before, .icon.recenter:before { margin-left: 2px; }

.x {
  top: 5px;
  position: relative;
}
