/* Layout
------------------------------------------------------- */

#export-ui {
  box-shadow: rgba(0,0,0,0.1) -2px 0px 0px;
}

/* Map overlay
------------------------------------------------------- */
.export-controls { display: none;}
#export:target ~ #full .map-controls .export-controls { display: inline-block;}
#export:target ~ #full .map-controls .xray-toggle { display: none; }
#export:target ~ #full .map-controls .add-bookmark { display: none; }
#export:target ~ #full .map-controls .places-button { display: none;}

/* locationfilter default overrides */
div.leaflet-marker-icon.location-filter.resize-marker {
  background: #3887be;
  border: 2px solid white;
  border-radius: 50%;
  height: 14px !important;
  width: 14px !important;
}

div.leaflet-marker-icon.location-filter.resize-marker:hover,
div.leaflet-marker-icon.location-filter.resize-marker.leaflet-drag-target {
  background: #3bb2d0;
}

div.leaflet-marker-icon.location-filter.move-marker {
  background: url(../app/move-handle.png) 0 0;
  background-size: 34px 17px;
  height: 17px !important;
  width: 17px !important;
}

div.leaflet-marker-icon.location-filter.move-marker:hover,
div.leaflet-marker-icon.location-filter.move-marker.leaflet-drag-target {
  background-position: 17px 0;
}

/* Export pane
------------------------------------------------------- */

.col-input input { border-right-width: 0;}
.col-input:last-of-type input { border-right-width: 1px;}

.warning, input.warning  { color: #ee8a65 !important; }

.js-info { right: 40px;}
