#map {
  background-color:#222;
  position:absolute;
  width:100%; top:40px; bottom:0px;
  }

/* Conf pane */
.editor > div.conf { display:block; }
.sql .editor > div.conf,
.fields .editor > div.conf { display:none; }

/* Fields pane */
.editor > div.fields { display:none; }
.fields .editor > div.fields { display:block; }

/* SQL pane */
.editor > div.sql {
  position:absolute;
  top:50px; bottom:0px; width:100%;
  display:block;
  visibility:hidden;
  }
.editor .CodeMirror { top:60px; }

.editor nav .icon.conf,
.fields .editor nav .icon.fields,
.sql .editor nav .icon.sql { background-color:rgba(0,0,0,0.4); }
.fields .editor nav .icon.conf,
.sql .editor nav .icon.conf { background-color:rgba(0,0,0,0.2); }

.sql .editor > div.sql { visibility:visible; }
.sql .editor .CodeMirror { visibility:visible; }
