#map {
  background-color:#222;
  position:absolute;
  width:100%; top:40px; bottom:0px;
  }

.leaflet-popup .leaflet-popup-content .xray-listing {
  width:240px;
  /* leaflet overrides */
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0;
}
.xray-listing:first-child { border-top: 1px solid rgba(0,0,0,.2);}
.dark .xray-listing,
.dark .xray-listing div {
  border-color: rgba(0,0,0,.2);
}

.leaflet-popup .xray { color: #f1f075;}

/* Conf pane */
.editor > div.conf { display:block; }
.sql .editor > div.conf,
.fields .editor > div.conf { display:none; }

/* Fields pane */
.editor > div.fields { display:none; }
.fields .editor > div.fields { display:block; }

/* SQL pane */
.editor > div.sql {
  position:absolute;
  top:60px; bottom:0px; width:100%;
  display:block;
  visibility:hidden;
  }
.editor .CodeMirror { top:60px; }

/* Show tab state  */
.fields #editor nav .mode-conf:hover,
.sql #editor nav .mode-conf:hover,
#editor nav .mode-conf,
.fields #editor nav .mode-fields,
.sql #editor nav .mode-sql {
  background-color:rgba(255,255,255,0.20);
  color: white;
}

.fields #editor nav .mode-conf,
.sql #editor nav .mode-conf { background-color:transparent; }

.sql .editor > div.sql { visibility:visible; }
.sql .editor .CodeMirror { visibility:visible; }

/* XRay tools */
.xrayswatch,
.xrayinspector {
  box-shadow:inset 0px 0px 0px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  }
.xrayswatch.disabled { background:rgba(0,0,0,0.1) !important; }
.xrayswatch.disabled::before { visibility:hidden; }
.xrayinspector::before { visibility:hidden; }
.xrayinspector.active::before { visibility:visible; }
