#map {
  background-color:#222;
  position:absolute;
  width:100%; top:40px; bottom:0px;
  }

/* Conf pane */
.editor > div.conf { display:block; }
.sql .editor > div.conf,
.fields .editor > div.conf { display:none; }

/* Fields pane */
.editor > div.fields { display:none; }
.fields .editor > div.fields { display:block; }

/* SQL pane */
.editor > div.sql {
  position:absolute;
  top:60px; bottom:0px; width:100%;
  display:block;
  visibility:hidden;
  }
.editor .CodeMirror { top:60px; }

/* Show tab state  */
#editor nav .mode-conf,
.fields #editor nav .mode-fields,
.sql #editor nav .mode-sql { background-color:rgba(255,255,255,0.20); }
.fields #editor nav .mode-conf,
.sql #editor nav .mode-conf { background-color:rgba(255,255,255,0.10); }

.sql .editor > div.sql { visibility:visible; }
.sql .editor .CodeMirror { visibility:visible; }

/* XRay tools */
.xrayswatch,
.xrayinspector {
  box-shadow:inset 0px 0px 0px 2px rgba(0,0,0,0.2);
  }
.xrayswatch.disabled { background:rgba(0,0,0,0.1) !important; }
.xrayswatch.disabled::before { visibility:hidden; }
.xrayinspector::before { visibility:hidden; }
.xrayinspector.active::before { visibility:visible; }
