#layers {
  margin-bottom:25%;
  left:75%;
  }
#inspector {
  display:block;
  position:absolute;
  bottom:0%; left:75%;
  width:25%; padding-bottom:25%;
  }
#map {
  background-color:#222;
  position:absolute;
  width:100%;
  height:100%;
  }
#editor {
  position:absolute;
  left:0%; top:0%; bottom:0%;
  width:75%;
  overflow:auto;
  }
#settings,
.editor {
  visibility:hidden;
  position:absolute;
  overflow:auto;
  top:40px; bottom:0%;
  width:100%;
  z-index:-1;
  }
.editor > * { display:none; }

.editor:target { visibility:visible; z-index:0; }
.editor:target > * { display:block; }

.editor nav {
  position:absolute;
  right:10px;
  top:10px;
  }
.editor .CodeMirror {
  top:50px;
  display:block;
  }
.editor:target .CodeMirror { visibility:visible; }

#settings { visibility:visible; z-index:0; }
.editor:target ~ #settings { visibility:hidden; z-index:-1; }

#stats {
  border-top:1px solid rgba(0,0,0,0.1);
  background:rgba(0,0,0,0.1);
  position:absolute;
  left:0%; top:75%; bottom:0%;
  width:75%;
  padding:10px;
  white-space:nowrap;
  }
#stats .z {
  display:inline-block;
  width:4.54%;
  height:100%;
  padding:10px 5px;
  border-radius:4px;
  }
#stats .z .bar {
  display:block;
  margin:0px auto;
  width:6px;
  height:100%;
  background:#282828;
  border-radius:2px;
  }
