#map {
  background-color:#222;
  position:absolute;
  width:100%; top:40px; bottom:0px;
  }

.leaflet-popup .leaflet-popup-content .xray-listing {
  width:240px;
  /* leaflet overrides */
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0;
}
.xray-listing:first-child { border-top: 1px solid rgba(0,0,0,.2);}
.dark .xray-listing,
.dark .xray-listing div {
  border-color: rgba(0,0,0,.2);
}

.leaflet-popup .xray { color: #f1f075;}

.layer-label {
  width: 80px;
}

/* Conf pane */
.editor > div.conf { display:block; }
.sql .editor > div.conf,
.fields .editor > div.conf { display:none; }

/* Fields pane */
.editor > div.fields { display:none; }
.fields .editor > div.fields { display:block; }

/* SQL pane */
.editor > div.sql {
  position:absolute;
  top:60px; bottom:0px; width:100%;
  display: block;
  visibility: hidden;
  }
.editor .CodeMirror { top:60px; }

.sql .editor > div.sql { visibility:visible; }
.sql .editor .CodeMirror { visibility:visible; }

/* XRay tools */
.xrayswatch,
.xrayinspector {
  box-shadow:inset 0px 0px 0px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  }
.xrayswatch:not(.disabled)::before { background: none !important;}
.xrayswatch.disabled { background-color:rgba(0,0,0,0.1) !important; }
.xrayswatch.disabled::before { background-color:rgba(0,0,0,0.1) !important; }
.xrayinspector::before { visibility:hidden; }
.xrayinspector:hover::before { visibility:visible; }
.xrayinspector.active::before { visibility:visible; }

#refresh { opacity: 0; z-index: -1;}
#refresh:target { opacity: 1; z-index: 100;}