#map {
  position:absolute;
  bottom:0px;
  top: 0px;
  left:-50%;
  width:200%;
  }
#full:target #map {
  left:0% !important;
  width:100% !important;
  }
.leaflet-left {
  left:25%;
  transition:left 125ms;
  -moz-transition:left 125ms;
  -webkit-transition:left 125ms;
  }

/* Code pane */
#code { box-shadow: rgba(0,0,0,0.1) -2px 0px 0px; }

/* Interactivity form */
#code #interactivity { top:40px;}

/* Editor tabs */
#tabs {
  padding-left: 80px;
  padding-right: 10px;
}
#tabs a.tab {
  margin:0px 0px 0px 5px;
  display: inline-block;
  vertical-align: top;
  }
#tabs a.tab:hover,
#tabs a.tab.active {
  background:#f8f8f8;
  }
#tabs a.tab.active {
  padding-right:25px;
  }
#tabs a.tab.mini,
#tabs a.tab.mini.active {
  padding:5px;
  }
#tabs a.tab .trash {
  display:none;
  }
#tabs a.tab.active .trash {
  display:inline-block;
  }

#tabs a.tab.active .trash:before { opacity: .25;}
#tabs a.tab .trash:hover:before { opacity:.5; }
#tabs a.tab:first-child:nth-last-child(1) { max-width:100%; }
#tabs a.tab:first-child:nth-last-child(2),
#tabs a.tab:first-child:nth-last-child(2) ~ a.tab { max-width:50.00%; }
#tabs a.tab:first-child:nth-last-child(3),
#tabs a.tab:first-child:nth-last-child(3) ~ a.tab { max-width:33.33%; }
#tabs a.tab:first-child:nth-last-child(4),
#tabs a.tab:first-child:nth-last-child(4) ~ a.tab { max-width:25.00%; }
#tabs a.tab:first-child:nth-last-child(5),
#tabs a.tab:first-child:nth-last-child(5) ~ a.tab { max-width:20.00%; }
#tabs a.tab:first-child:nth-last-child(6),
#tabs a.tab:first-child:nth-last-child(6) ~ a.tab { max-width:16.66%; }
#tabs a.tab:first-child:nth-last-child(7),
#tabs a.tab:first-child:nth-last-child(7) ~ a.tab { max-width:14.28%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(8),
#tabs a.tab:first-child:nth-last-child(8) ~ a.tab { max-width:12.50%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(9),
#tabs a.tab:first-child:nth-last-child(9) ~ a.tab { max-width:11.11%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(10),
#tabs a.tab:first-child:nth-last-child(10) ~ a.tab { max-width:10.00%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(11),
#tabs a.tab:first-child:nth-last-child(11) ~ a.tab { max-width:9.09%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(12),
#tabs a.tab:first-child:nth-last-child(12) ~ a.tab { max-width:8.33%; font-size:80%; }

/* CodeMirror */
.CodeMirror#code-template { top:80px;}

/* Carto ref docs */
#fonts:target ~ * a.docs-n,
#docs:target ~ * a.docs-n { display:none; }

#docs section a.fonts {
  position:absolute;
  right:0;
  margin:5px 0px;
  border-radius:4px 0px 0px 4px;
  }

/* colors are equivalent to fill-* + fill-lighten3 */
a[href='#docs-points'], #docs-points     { background: #e1e1f1;} /* fill purple */
a[href='#docs-lines'], #docs-lines       { background: #cde0ee;} /* fill blue */
a[href='#docs-polygons'], #docs-polygons { background: #d4eddf;} /* fill green */
a[href='#docs-text'], #docs-text         { background: #fbfbdc;} /* fill yellow */
a[href='#docs-misc'], #docs-misc         { background: #fae1d8;} /* fill orange */

#docs .code.value,
#docs .code.options {
  color:#708;
  padding:2px 5px;
  border-radius: 3px;
  background: rgba(0,0,0,.05);
  }
#docs h4.heading { color: rgba(0,0,0,.75);}

#docs section a.block:not(.active):hover {
  color: rgba(0,0,0,1);
  background-color: rgba(0,0,0,.05)
  }

#docs code.value:after {
  content:' default';
  opacity: .5;
  }

#docs .details { display: none;}
#docs section.active { background-color: rgba(0,0,0,.05);}
#docs section.active .details { display: block;}

/* Font book */
#fonts .single-font {
  height:30px;
  display:block;
  background:#eee;
  background-position:10px 50%;
  background-repeat:no-repeat;
  /* render but hide text for copying */
  color: transparent;
  }

/* Overrides for util panes vs. Menu */
#layers:target a.data-n { display:inline-block; }
.pane.util:target ~ * a.data-n,
.pane.util:target ~ * a.data-y { display:none !important; }
.pane.util:target ~ #util { display:block; }
.pane.util:target ~ #layers { display:none; }

/* Search */
.search-dialog { z-index: 11; }
