/* Code pane */
#style-ui,
#source-ui,
#print-ui { box-shadow: rgba(0,0,0,0.1) -2px 0px 0px; }

/* Editor tabs */
.carto-tabs {
  padding-left: 90px;
  padding-right: 60px;
}

.carto-tabs a.tab {
  height: 30px;
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.carto-tabs a.tab:hover { color: rgba(0,0,0,.75));}
.carto-tabs a.tab.active { background:white;}

.addtab { right:30px;}

.carto-tabs a.tab .trash {display:none;}
.carto-tabs a.tab.active .trash { display:block;}
.carto-tabs a.tab .trash:hover:before { opacity:1; }

.carto-tabs a.tab:first-child:nth-last-child(5),
.carto-tabs a.tab:first-child:nth-last-child(5) ~ a.tab  { width:20.00%; padding-left: 3px; padding-right: 3px; font-size:10px; }
.carto-tabs a.tab:first-child:nth-last-child(6),
.carto-tabs a.tab:first-child:nth-last-child(6) ~ a.tab  { width:16.66%; padding-left: 3px; padding-right: 3px; font-size:10px;}
.carto-tabs a.tab:first-child:nth-last-child(7),
.carto-tabs a.tab:first-child:nth-last-child(7) ~ a.tab  { width:14.28%; padding-left: 3px; padding-right: 3px; font-size:10px; }
.carto-tabs a.tab:first-child:nth-last-child(8),
.carto-tabs a.tab:first-child:nth-last-child(8) ~ a.tab  { width:12.50%; padding-left: 3px; padding-right: 3px; font-size:10px; }
.carto-tabs a.tab:first-child:nth-last-child(9),
.carto-tabs a.tab:first-child:nth-last-child(9) ~ a.tab  { width:11.11%; padding-left: 3px; padding-right: 3px; ont-size:10px; }
.carto-tabs a.tab:first-child:nth-last-child(10),
.carto-tabs a.tab:first-child:nth-last-child(10) ~ a.tab { width:10.00%; padding-left: 3px; padding-right: 3px; font-size:10px; }
.carto-tabs a.tab:first-child:nth-last-child(11),
.carto-tabs a.tab:first-child:nth-last-child(11) ~ a.tab { width:9.09%; padding-left: 3px; padding-right: 3px; font-size:10px; }
.carto-tabs a.tab:first-child:nth-last-child(12),
.carto-tabs a.tab:first-child:nth-last-child(12) ~ a.tab { width:8.33%; padding-left: 3px; padding-right: 3px; font-size:10px; }

/* Search */
.search-dialog { z-index: 11; }
