/* Map is oversized to accommodate fullscreen view. */
#full { overflow:hidden; }

#map {
  position:absolute;
  top:40px;
  bottom:0px;
  left:-50%;
  width:200%;
  transition:left 200ms;
  -moz-transition:left 200ms;
  -webkit-transition:left 200ms;
  }
#full:target #map {
  left:0% !important;
  width:100% !important;
  }
.leaflet-left {
  left:25%;
  transition:left 200ms;
  -moz-transition:left 200ms;
  -webkit-transition:left 200ms;
  }

/* Code pane */
#code { background:#f8f8f8; }

#code .right {
  position:absolute; right:0px;
  width:40px; height:40px;
  background:#eee;
  border-bottom:1px solid #ddd;
  }
#code .right a {
  position:absolute;
  left:5px;
  top:5px;
  }

/* Interactivity form */
#code #interactivity {
  top:40px;
  }

/* Editor tabs */
#tabs a.tab {
  margin:0px 0px 0px 5px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  }
#tabs a.tab:hover,
#tabs a.tab.active {
  background:#f8f8f8;
  }
#tabs a.tab.active {
  padding-right:30px;
  }
#tabs a.tab.mini,
#tabs a.tab.mini.active {
  padding:5px;
  }
#tabs a.tab span.delete {
  display:none;
  }
#tabs a.tab.active span.delete {
  display:block;
  position:absolute;
  right:0; top:0; bottom: 0;
  width:25px;
  border-left: 1px solid #eeeeee;
  padding: 3px;
  line-height:20px;
  border-radius:0 3px 3px 0;
  opacity:0.5;
  }
#tabs a.tab span.delete:hover { background:white; }
#tabs a.tab:first-child:nth-last-child(1) { max-width:100%; }
#tabs a.tab:first-child:nth-last-child(2),
#tabs a.tab:first-child:nth-last-child(2) ~ a.tab { max-width:50.00%; }
#tabs a.tab:first-child:nth-last-child(3),
#tabs a.tab:first-child:nth-last-child(3) ~ a.tab { max-width:33.33%; }
#tabs a.tab:first-child:nth-last-child(4),
#tabs a.tab:first-child:nth-last-child(4) ~ a.tab { max-width:25.00%; }
#tabs a.tab:first-child:nth-last-child(5),
#tabs a.tab:first-child:nth-last-child(5) ~ a.tab { max-width:20.00%; }
#tabs a.tab:first-child:nth-last-child(6),
#tabs a.tab:first-child:nth-last-child(6) ~ a.tab { max-width:16.66%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(7),
#tabs a.tab:first-child:nth-last-child(7) ~ a.tab { max-width:14.28%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(8),
#tabs a.tab:first-child:nth-last-child(8) ~ a.tab { max-width:12.50%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(9),
#tabs a.tab:first-child:nth-last-child(9) ~ a.tab { max-width:11.11%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(10),
#tabs a.tab:first-child:nth-last-child(10) ~ a.tab { max-width:10.00%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(11),
#tabs a.tab:first-child:nth-last-child(11) ~ a.tab { max-width:9.09%; font-size:80%; }
#tabs a.tab:first-child:nth-last-child(12),
#tabs a.tab:first-child:nth-last-child(12) ~ a.tab { max-width:8.33%; font-size:80%; }

/* CodeMirror */
.CodeMirror#code-template {
  top:80px;
  }

/* Carto ref docs */
#fonts:target ~ * a.docs-y,
#docs:target ~ * a.docs-y { display:block; }
#fonts:target ~ * a.docs-n,
#docs:target ~ * a.docs-n { display:none; }
#docs:target nav,
#docs:target article.active { display:block; }
#docs article { display:none; }
#docs section a.fonts {
  position:absolute;
  right:0;
  margin:5px 0px;
  border-radius:4px 0px 0px 4px;
  }

#docs code.type,
#docs code.value,
#docs code.value:after { margin-left:5px; }
#docs code.value   {
  background:transparent;
  color:#708;
  padding:3px 5px;
  }
#docs code.value:after {
  content:'default';
  color:#404040;
  font-style:italic;
  }
#docs code.value,
#docs code.options { font-size:80%; }
#docs code.options { display:block; margin-bottom:10px; }

#docs .text-container .font-link { display: none;}
#docs .text-container:hover .font-link{ display: block;}

/* Font book */
#fonts .font {
  height:30px;
  display:block;
  background:#eee;
  border-radius:3px;
  background-position:10px 50%;
  background-repeat:no-repeat;
  }

/* Data library */
div.source a.section { cursor:pointer; }

/* Visibility */
/* Off-canvas menu vs. Content */
#data:target ~ .l0,
.menu:target ~ .l0 { left:25%; }
#data:target ~ .l2,
.menu:target ~ .l2 { left:75%; }
#full:target { width:100%; }
#full:target ~ .l2 { left:100%; }
#full:target .leaflet-left { left:0%; }

#perf:target ~ #full { bottom:40px; }

/* Button visibility/clickability */
a.menu-y { display:none; }
a.full-y { display:none; }
a.docs-y { display:none; }
a.data-y { display:none; }
.menu:target ~ * a.menu-y,
#data:target ~ * a.data-y,
#full:target     a.full-y { display:inline-block; }
.menu:target ~ * a.menu-n,
#full:target     a.full-n { display:none; }

/* Overrides for util panes vs. Menu */
#layers:target a.data-n { display:inline-block; }
.pane.util:target ~ * a.data-n,
.pane.util:target ~ * a.data-y { display:none !important; }
.pane.util:target ~ #util { display:block; }
.pane.util:target ~ #layers { display:none; }

