<div class='pill margin3 col6'>
<a href='{{site.baseurl}}/crashcourse-style/' class='col12 center pad1 fill-darken1 quiet stroke'>
    <span class='dot inline icon paint pad1 fill-lighten1'></span>
    <strong class='pad1x'>Style crashcourse</strong>
</a>
<a href='{{site.baseurl}}/crashcourse-sources/' class='col12 center pad1 fill-darken1 quiet stroke'>
    <span class='dot inline icon polygon pad1 fill-lighten1'></span>
    <strong class='pad1x'>Source crashcourse</strong>
</a>
<a href='{{site.baseurl}}/introduction/' class='col12 center pad1 fill-darken1 quiet stroke'>
    <span class='dot inline icon lifebuoy pad1 fill-lighten1'></span>
    <strong class='pad1x'>Common questions</strong>
</a>
</div>
