<div class='margin2 col4 space-bottom1 small'>
<a href='{{site.baseurl}}/' class='block pad1'>
    <span class='dot inline icon home pad0 fill-blue'></span>
    <strong class='pad1x'>Mapbox Studio</strong>
</a>
<a href='{{site.baseurl}}/style-quickstart/' class='block pad1'>
    <span class='dot inline icon paint pad0 fill-blue'></span>
    <strong class='pad1x'>Style quickstart</strong>
</a>
<a href='{{site.baseurl}}/style-manual/' class='block pad1'>
    <span class='dot inline icon book pad0 fill-blue'></span>
    <strong class='pad1x'>Style manual</strong>
</a>
<a href='{{site.baseurl}}/source-quickstart/' class='block pad1'>
    <span class='dot inline icon polygon pad0 fill-purple'></span>
    <strong class='pad1x'>Source quickstart</strong>
</a>
<a href='{{site.baseurl}}/source-manual/' class='block pad1'>
    <span class='dot inline icon book pad0 fill-purple'></span>
    <strong class='pad1x'>Source manual</strong>
</a>
<a href='{{site.baseurl}}/common-questions/' class='block pad1'>
    <span class='dot inline icon lifebuoy pad0 fill-orange'></span>
    <strong class='pad1x'>Common questions</strong>
</a>
</div>
<div class='col4 space-bottom1 small'>
<a href='{{site.baseurl}}/styling-selectors' class='block pad1'>
    <span class='dot inline icon brackets pad0 fill-navy'></span>
    <strong class='pad1x'>Styling selectors</strong>
</a>
<a href='{{site.baseurl}}/styling-labels' class='block pad1'>
    <span class='dot inline icon marker pad0 fill-navy'></span>
    <strong class='pad1x'>Styling labels</strong>
</a>
<a href='{{site.baseurl}}/styling-lines' class='block pad1'>
    <span class='dot inline icon polyline pad0 fill-navy'></span>
    <strong class='pad1x'>Styling lines</strong>
</a>
<a href='{{site.baseurl}}/styling-polygons' class='block pad1'>
    <span class='dot inline icon polygon pad0 fill-navy'></span>
    <strong class='pad1x'>Styling polygons</strong>
</a>
<a href='{{site.baseurl}}/symbol-drawing-order' class='block pad1'>
    <span class='dot inline icon layers pad0 fill-navy'></span>
    <strong class='pad1x'>Symbol drawing order</strong>
</a>
<a href='{{site.baseurl}}/compositing-reference' class='block pad1'>
    <span class='dot inline icon sun pad0 fill-navy'></span>
    <strong class='pad1x'>Compositing reference</strong>
</a>
</div>
