<div class='pill margin3 col6'>
<a href='{{site.baseurl}}/style-quickstart/' class='col12 center pad1 fill-darken1 quiet stroke'>
    <span class='dot inline icon paint pad1 fill-blue'></span>
    <strong class='pad1x'>Style quickstart</strong>
</a>
<a href='{{site.baseurl}}/style-manual/' class='col12 center pad1 fill-darken1 quiet stroke'>
    <span class='dot inline icon book pad1 fill-blue'></span>
    <strong class='pad1x'>Style manual</strong>
</a>
<a href='{{site.baseurl}}/source-quickstart/' class='col12 center pad1 fill-darken1 quiet stroke'>
    <span class='dot inline icon polygon pad1 fill-purple'></span>
    <strong class='pad1x'>Source quickstart</strong>
</a>
<a href='{{site.baseurl}}/source-manual/' class='col12 center pad1 fill-darken1 quiet stroke'>
    <span class='dot inline icon book pad1 fill-purple'></span>
    <strong class='pad1x'>Source manual</strong>
</a>
<a href='{{site.baseurl}}/common-questions/' class='col12 center pad1 fill-darken1 quiet stroke'>
    <span class='dot inline icon lifebuoy pad1 fill-orange'></span>
    <strong class='pad1x'>Common questions</strong>
</a>
</div>
