<div class="space-bottom2 hide-mobile">

<a class='col2 space-bottom2 button stroke quiet {% if page.url contains '/enterprise/highvolume' %}active{% endif %}' href='/enterprise/highvolume/'>Overview</a>
<a class='col2 space-bottom2 button stroke quiet {% if page.url contains 'enterprise/atlas' %}active{% endif %}' href='/enterprise/atlas'>Style map</a>  
<a class='col2 space-bottom2 button stroke quiet {% if page.url contains 'enterprise/commercial-satellite' %}active{% endif %}' href='/enterprise/commercial-satellite'>Source data</a>
</div>
