<div class='clearfix space-bottom2'><div class='margin3 col6 row2 contain clip fill-green round'>
    <a href='https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-linux-x64-{{site.release}}.zip' class='pin-top button row2 pad2 fill-green space animate clip on-linux'>
        <button class='inline row1 icon big down dot fill-darken1'></button>
        <span class='inline row1 text-left'>
            <h3>mapbox-studio-linux-x64-{{site.release}}.zip</h3>
            <small>160MB download for Linux</small>
        </span>
    </a>
    <a href='https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-darwin-x64-{{site.release}}.zip' class='pin-top button row2 pad2 fill-green space animate clip on-darwin'>
        <button class='inline row1 icon big down dot fill-darken1'></button>
        <span class='inline row1 text-left'>
            <h3>mapbox-studio-darwin-x64-{{site.release}}.zip</h3>
            <small>149MB download for OS X</small>
        </span>
    </a>
    <a href='https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-ia32-{{site.release}}.exe' class='pin-top button row2 pad2 fill-green space animate clip on-win32'>
        <button class='inline row1 icon big down dot fill-darken1'></button>
        <span class='inline row1 text-left'>
            <h3>mapbox-studio-win32-ia32-{{site.release}}.exe</h3>
            <small>139MB download for Windows</small>
        </span>
    </a>
</div></div>
