<div class='pin-top pad1 keyline-bottom'>
  <h3>Configure Mapbox Studio</h3>
  <a href='#' class='icon x pin-right pad1 quiet'></a>
</div>
<div class='pin-left col12 pad1y top1 scroll-styled'>
  <section class='pad1 col12 space-bottom1 keyline-bottom'>
    <p class='strong small'>Mapbox Studio is in Atlas Server mode</p>
    <p class='small'><a href='/unauthorize'>Logout </a> to use Mapbox Studio standard</p>
  </section>
  <fieldset class='pad1x'>
    <section class='space-bottom1'>
      <label>Atlas Server Location</label>
      <input class='short small stretch' name='location' type='text' value='http://localhost:2999'/>
    </section>
  </fieldset>

</div>
