<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'/>
  <link href='/ext/base/base.css?<%=obj.nocache%>' rel='stylesheet' />
  <link href='/app/app.css?<%=obj.nocache%>' rel='stylesheet' />
  <link href='/app/welcome.css?<%=obj.nocache%>' rel='stylesheet' />
  <script src='/ext/jquery-2.0.3.min.js?<%=obj.nocache%>'></script>
  <script src='/app/atom.js?<%=obj.nocache%>'></script>
  <script src='/ext/underscore-min.js?<%=obj.nocache%>'></script>


  <%= this.analytics(obj) %>
  <title>Configuration for Mapbox Atlas</title>
</head>

<body class='col12 fill-blue'>

  <div class='dark pad8y clearfix pin-left col12 fill-darken0 gradient'>
    <div class='pad8y limiter'>
        <div class='center'>
          <div class='mb-logo white row1 space-bottom'></div>
          <h2 class='space-bottom2'>
              Configure Mapbox Studio for Atlas Server
          </h2>
        </div>
        <div class='col4 margin4'>
          <form action='/config/save' method='get' class='pad1x col12'>
            <input type="hidden" name="redirect" value="/oauth/atlas" />
            <section class='space-bottom1'>
              <label for='location-input'>Atlas Server Location</label>
              <input class='short small stretch' id='location-input' name='location' type='text' value='<%=obj.location%>'/>
            </section>
              <input type='submit' value='Connect' id='config-submit' class='col12 pad1 short quiet icon check'>
          </form>
        </div>
    </div>
  </div>

</body>

</html>
