<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'/>
  <link href='/ext/base/base.css?<%=obj.nocache%>' rel='stylesheet' />
  <link href='/app/app.css?<%=obj.nocache%>' rel='stylesheet' />
  <link href='/app/welcome.css?<%=obj.nocache%>' rel='stylesheet' />
  <script src='/ext/jquery-2.0.3.min.js?<%=obj.nocache%>'></script>
  <script src='/app/atom.js?<%=obj.nocache%>'></script>
  <script src='/ext/underscore-min.js?<%=obj.nocache%>'></script>


  <%= this.analytics(obj) %>
  <title>Configuration for Mapbox Atlas</title>
</head>

<body class='col12 fill-blue'>

  <div class='dark pad8y clearfix pin-left col12 gradient'>
    <div class='limiter'>
        <div class='pad8y col6 center margin3'>
          <div class='mb-logo white row1 space-bottom'></div>
          <h2 class='space-bottom4'>
              Configure&nbspMapbox&nbspStudio&nbsp
              <br>for&nbspAtlas&nbspServer
          </h2>
        <div class='col8 margin2 text-left'>
          <form action='/config/save' method='get' class=''>
            <input type="hidden" name="redirect" value="/oauth/atlas" />
            <section class='space-bottom2'>
              <label for='MapboxTile-input'>Atlas Server Location</label>
              <input class='short stretch' id='MapboxTile-input' name='MapboxTile' type='text' value='<%=obj.MapboxTile%>'/>
            </section>
              <button type='submit' value='Connect' id='config-submit' class='col12 pad1 space-bottom0 quiet icon globe'>Connect to Atlas Server</button>
          </form>
           <a class='col12 stroke quiet button space-bottom2 short icon undo' href='/authorize'>Connect to Mapbox.com</a>

          <div class='small'>Atlas Server is a dedicated map server that runs entirely on your own infrastructure. <a href='http://www.mapbox.com/enterprise/' target='_blank'> More information about Mapbox Enterprise and Atlas Server.<a> </div>
        </div>

        </div>

    </div>
  </div>

</body>

</html>
