<div class='pin-top pad1 keyline-bottom'>
  <h3>Configure Mapbox Studio</h3>
  <a href='#' class='icon x pin-right pad1 quiet'></a>
</div>
<div class='pin-left col12 pad1y top1 scroll-styled'>
<% var server = (obj.user.id === 'AtlasUser') ? 'atlas' : null; %>
  <section class='pad1 col12 space-bottom1 keyline-bottom'>
    <p class='strong small'>Mapbox Studio is <% if (server) { %> in Atlas Server server mode <% } else { %> connected to Mapbox.com<% } %></p>

    <div class='pad0 checkbox-pill'>
      <input type='checkbox' id='enable-atlas' <% if (server) { %> checked='checked' <% } %> >
      <label for='enable-atlas' class='button icon check quiet short'>Enable Atlas Server mode</label>
    </div>

    <div class='micro pad1y pad0x'>Atlas Server is a dedicated map server that runs entirely on your own infrastructure. <a href='http://www.mapbox.com/enterprise/' target='_blank'> More information about Mapbox Enterprise and Atlas Server.<a> </div>

  </section>
  <fieldset class='pad1x'>
    <section class='space-bottom1'>
      <label>Atlas Server Location</label>
      <input class='short small stretch' id='MapboxTile-input' name='MapboxTile' type='text' value='<%= obj.MapboxTile || "http://localhost:2999" %>'/>
    </section>
  </fieldset>
  <div class='pad1'>
    <a href='#' id='config-submit' class='col12 button short quiet icon check'>Done</a>
  </div>
</div>
