<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'/>
  <link href='/ext/base/base.css' rel='stylesheet' />
  <link href='/ext/mapbox.css' rel='stylesheet' />
  <link href='/app/app.css' rel='stylesheet' />
  <title>Error</title>
</head>

<body id='view' class='fill-denim pad4y'>

<%
var title = 'Error';
var message = error.message || error.toString();
switch (error.code) {
case 'ENOENT':
  title = 'Not found';
  message = "Couldn't open file at <em>" + error.path + "</em>";
  break;
};
%>

<div class='clearfix limiter'>
  <div class='col6 margin3 dark'>
    <h2 class='center pad2y pad4x fill-darken0'><%= title %></h2>
    <pre class='fill-darken1 unround pad2y pad4x'><%= message.split(' ').map(function(v) { return v.length > 20 ? "<span class='long'>" + v + "</span>" : v; }).join(' ') %></pre>
    <a href='/' class='button icon quiet prev col12 round-bottom'>Back</a>
  </div>
</div>

<style type='text/css'>
/* Error page */
.message .long { word-break:break-all };
</style>

</body>

</html>
