  <section class='pad2x pad1y keyline-bottom'>
    <label class='col3 inline'>Projection</label>
    <input class='js-metadata-projection stretch' name='srs' type='text' value='<%= obj.srs %>' readonly='readonly'/>
  </section>
  <section class='pad2x pad1y keyline-bottom'>
    <label class='col3 inline'>Buffer size</label>
    <% if (obj.properties['buffer-size'] > 128) { %>
    <input id='<%=obj.id%>-buffer-size' name='properties-buffer-size' type='text' value='<%= obj.properties['buffer-size'] %>' size='12' />
    <% } else { %>
    <input id='<%=obj.id%>-buffer-size' name='properties-buffer-size' type='range' value='<%= obj.properties['buffer-size'] %>' min='0' max='128' step='2' onchange='rangeHandler(this);'/>
    <span class='small quiet code inline range' id='<%=obj.id%>-buffer-size-val'><%= obj.properties['buffer-size'] %></span>
    <% } %>
  </section>

