<fieldset>
<section class='keyline-bottom pad1x pad1y small clearfix'>
  <div class='col3 pad1x'>
    <h4 class='field clearfix'>Name</h4>
  </div>
  <div class='pad1x col9'>
    <h4 class='field clearfix'>Description</h4>
    <em class='block quiet'>Accurate and detailed descriptions of the possible values for each field will make your source easier to use.</em>
  </div>
</section>
<% _(obj).each(function(helptext, field) { %>
<section class='field keyline-bottom pad1 clearfix small'>
  <div class='pad1x pad0y col3'>
    <label for='fields-<%=field%>' title='<%= field %>' class='truncate align-top field-key col12 inline field'><%= field %></label>
  </div>
  <div class='col9 pad1x'>
    <input class='small short stretch' id='fields-<%=field%>' name='fields-<%=field%>' type='text' value='<%=_(helptext).escape()%>' />
  </div>
</section>
<% }); %>
<div class='empty-state hidden prose'>No available fields.</div>
</fieldset>
