<section class='pad2x pad1y small clearfix keyline-bottom'>
  <div class='col9 space space-bottom1'>
    <h4 class='vtfx clearfix'>Data post processing</h4>
    <span class='block quiet'>Modify data density of source data by applying filters. </span>
  </div>
  <div class='col12'>
      <div class='col4 strong'>
        Filters
      </div>
      <div class='col8 strong'>
        Parameters
      </div>
    </div>
</section>

<section class='vtfx clearfix small'>
  <fieldset class='vtfx-<%=obj.id%> '>
      <div class='saved clearfix pad1'>
      <% if (obj.vtfx) { %>
        <%= this.layervtfxsaved({vtfx: obj.vtfx, filters: obj.filters, id: obj.id}) %>
      <% } %>
      </div>
      <div class='space-bottom1 pad1 clearfix'>
        <select class='col3 <%=obj.id%> filter-select truncate' layer='<%=obj.id%>' name='filtername'>
          <% _(obj.filters).each(function(parameters, filter) { %>
          <option value='<%= filter %>' <% if (filter === 'drop') { %> selected='selected' <% } %>><%= parameters.display %></option>
          <% }); %>
        </select>
        <%= this.layervtfxfields({parameters: obj.filters.drop, name: 'drop', id: obj.id}) %>
        <a href='#' value='Add filter' layer='<%=obj.id%>' class='js-addfilter button quiet dot icon plus'></a>
      </div>
  </fieldset>
</section>