<section class='pad2x pad1y small clearfix keyline-bottom'>
  <div class='col9 space space-bottom1'>
    <h4 class='vtfx clearfix'>Data post processing</h4>
    <span class='block quiet'>Modify data density of source data by applying filters. </span>
  </div>
  <div class='col12'>
      <div class='col4 strong'>
        Filters
      </div>
      <div class='col8 strong'>
        Parameters
      </div>
    </div>
</section>

<section class='vtfx clearfix small'>
  <fieldset class='vtfx-<%=obj.id%> '>
      <div class='saved clearfix pad1'>
      <% if (obj.vtfx) { %>
        <%= this.layervtfxsaved({vtfx: obj.vtfx, filters: obj.filters, id: obj.id }) %>
      <% } %>
      </div>
      <div class='space-bottom1 pad1 clearfix'>
        <div class='col3 pad0'>
          <select class='col12 <%=obj.id%> filter-select truncate' layer='<%=obj.id%>' name='filtername'>
            <% var info = '<p class="strong">Filter descriptions:</p>';
              _(obj.filters).each(function(parameters, filter) {
                info += "<p> <span class='strong'>" + parameters.display + ":</span>&nbsp&nbsp&nbsp" + parameters.description + "</p>";
              %>
            <option value='<%= filter %>' <% if (filter === 'drop') { %> selected='selected' <% } %>><%= parameters.display %></option>
            <% }); %>
          </select>
        </div>
        <div class='col1 pad0y'>
          <a href='#vtfx-info-<%=obj.id%>' class='js-info round info icon quiet pad0'></a>
        </div>
        <%= this.layervtfxfields({parameters: obj.filters.drop, name: 'drop', id: obj.id, fields: obj.fields}) %>
        <a href='#' value='Add filter' layer='<%=obj.id%>' class='js-addfilter button quiet dot icon plus'></a>
      </div>
      <div id='vtfx-info-<%=obj.id%>' class='clearfix z10 pad1 fill-darken1 hidden prose'>
        <%= info %>
      </div>
  </fieldset>
</section>