<%
var inspector = obj._prefs && obj._prefs.inspector && obj._prefs.inspector === obj.id;
var disabled = obj._prefs && obj._prefs.disabled && obj._prefs.disabled.indexOf(obj.id) >= 0;
var local = obj.Datasource && obj.Datasource.type;
var refreshable = (local === 'shape' || local === 'csv');
%>
<div id='<%=obj.id%>' class='contain keyline-bottom clearfix layer js-layer col12 small quiet'>
  <% if (local) { %>
  <span class='pad0 col0'>
    <a href='#' id='zoom-<%=obj.id%>' class='icon crosshair inline round js-zoomTo'></a>
  </span>
  <% } %>
  <a class='<%=(obj.Datasource && obj.Datasource.type) ? "js-reset-mode" : "js-tab" %> block col8 contain pad0y pad1x quiet' href='#layers-<%=obj.id%>'>
    <%=obj.id%>
    <% if (local) { %>
    <span><code><%= (obj.Datasource.type) %></code></span>
    <% } %>
  </a>

  <div class='center col6 pin-right small'>
    <% if (local) { %>
      <span class='pad0 col4 fr center layer-label'>
        <a href='#' id='del-<%=obj.id%>' class='inline round icon trash js-delete'></a>
      </span>
      <span class='pad0 col4 fr center layer-label'>
        <% if (refreshable) { %>
          <a href='#' id='refresh-<%=obj.id%>' class='icon refresh inline round js-refreshSource'></a>
        <% } %>
      </span>
    <% } %>
    <span class='pad0 col4 fr center layer-label'>
      <a href='#refresh' class='icon xrayswatch js-xrayswatch x inline round fill-darken1 <%=disabled ? 'disabled' : ''%> <%=obj.geometry||'unknown'%>' style='background-color:<%=this.xraycolor(obj.id)%>'></a>
    </span>
    <% if ('minzoom' && 'maxzoom' in obj) { %>
    <div class='center col3 fr pad1x'>
      <span class='inline zooms pad0 micro'><%= obj.minzoom %>-<%= obj.maxzoom %></span>
    </div>
    <% } %>
  </div>

  <div class='col12 fl description'>
    <div class='keyline-top truncate keyline-bottom col12 pad1'><%=obj.description||'No description.'%></div>
    <% if ('fields' in obj) { %>
    <div class='small pad0y'>
      <% _(obj.fields||{}).each(function(desc,name) { %>
      <div class='field pad1x space-bottom0 clearfix'>
        <span class='fill-lighten2 field-key break-word col3'><%=name%> </span>
        <span class='quiet col9 pad1x'><%=desc||'No description.'%></span>
      </div>
      <% }); %>
    </div>
    <% } %>
  </div>

</div>
