<form class='animate offcanvas-top pane scroll-styled editor dark fill-dark col6 pin-right z10' id='layers-<%=obj.id%>'>
  <nav class='text-right pad1 keyline-bottom'>
    <span class='inline rounded-toggle'><!--
      --><a href='#editor-conf' class='js-tab mode-conf active '>Configure</a><!--
      --><a href='#editor-fields' class='js-tab mode-fields'>Fields</a><!--
      --><a href='#editor-sql' class='js-tab mode-sql'>SQL</a>
    </span>
    <a href='#' class='quiet inline pad1 icon close'></a>
  </nav>
  <section class='pad2 pin-topleft'>
    <h3>
      <%= obj.id %>
      <a href='#' id='updatename-<%=obj.id%>' class='icon pencil inline round js-updatename'></a>
    </h3>
    <input type='hidden' name='id' value='<%=obj.id%>' />
  </section>

  <div class='conf'>
    <fieldset>
      <section class='pad2x pad1y keyline-bottom'>
        <label>Description</label>
        <input class='stretch' type='text' name='description' value='<%= _(obj.description).escape() %>' />
      </section>
      <section class='pad1 keyline-bottom'>
        <label class='pad1x'>PostGIS</label>
        <div class='pad0x contain clearfix'>
          <div class='pad0x col3 contain'>
            <input type='text' class='stretch' name='Datasource-user' value='<%= obj.Datasource.user %>' />
            <label class='micro ghost'>user</label>
          </div>
          <div class='pad0x col3 contain'>
            <input type='text' class='stretch' name='Datasource-dbname' value='<%= obj.Datasource.dbname %>' />
            <label class='micro ghost'>db</label>
          </div>
          <div class='pad0x col3 contain'>
            <input type='text' class='stretch' name='Datasource-host' value='<%= obj.Datasource.host %>' />
            <label class='micro ghost'>host</label>
          </div>
          <div class='pad0x col3 contain'>
            <input type='text' class='stretch' name='Datasource-port' value='<%= obj.Datasource.port %>' />
            <label class='micro ghost'>port</label>
          </div>
        </div>
        <input type='hidden' name='Datasource-type' value='postgis' />
        <input type='hidden' name='Datasource-max_size' value='512' />
      </section>
      <section class='clearfix pad2x pad1y keyline-bottom'>
        <label class='pad1y col3 inline'>Extent </label>
        <input class='col9' type='text' name='Datasource-extent' value='<%= obj.Datasource.extent %>' placeholder='autodetect' />
      </section>
      <section class='pad2x pad1y keyline-bottom'>
        <label class='col3 inline'>Projection</label>
        <input class='js-metadata-projection stretch' name='srs' type='text' value='<%= obj.srs %>'/>
      </section>
      <section class='pad2x pad1y keyline-bottom'>
        <label class='col3 inline'>Buffer size</label>
        <input id='<%=obj.id%>-buffer-size' name='properties-buffer-size' type='range' value='<%= obj.properties['buffer-size'] %>' min='0' max='256' step='2' onchange='rangeHandler(this);'/>
        <span class='small quiet code inline range' id='<%=obj.id%>-buffer-size-val'><%= obj.properties['buffer-size'] %></span>
      </section>
      <% if (obj.properties['group-by']) { %>
      <input type='hidden' name='properties-group-by' value='<%=obj.properties['group-by']%>' />
      <% } %>
      <section class='pad2'>
        <a href='#' class='js-save quiet button submit margin6 col6'>Done</a>
      </section>
    </fieldset>
  </div>
  <div class='fields'><%= this.layerfields(obj.fields) %></div>

  <div class='sql'>
    <section class='pad1'>
      <div class='pad0x clearfix'>
        <div class='pad0x col4 contain'>
          <input name='Datasource-geometry_field' class='stretch' type='text' value='<%= obj.Datasource['geometry_field'] || '' %>'/>
          <label class='micro ghost'>geom field</label>
        </div>
        <div class='pad0x col4 contain'>
          <input name='Datasource-geometry_table' class='stretch' type='text' value='<%= obj.Datasource['geometry_table'] || '' %>'/>
          <label class='micro ghost'>geom table</label>
        </div>
        <div class='pad0x col4 contain'>
          <input name='Datasource-key_field' class='stretch last' size='20' type='text' value='<%= obj.Datasource['key_field'] || '' %>' />
          <label class='micro ghost'>key</label>
        </div>
      </div>
    </section>
  </div>
</form>
