<form id='addlayer' class='modal margin3 round col6 pin-top top2'>
  <a href='#' class="pad1 quiet icon x pin-topright close"></a>
    <fieldset class='col12 pad2 fill-dark'>
        <p class='center col8 margin2'>Add a new datasource.</p>
        <div class='input-pill clearfix space-bottom'>
            <input type='hidden' name='Datasource-type' value='shape' />
            <input class='col8' type='text' name='Datasource-file' title='No spaces allowed.' placeholder='.shp .kml .geojson .gpx .csv' pattern='[\w+\d+\.\/_-]+\.(shp|SHP|json|geojson|JSON|kml|KML|gpx|GPX|csv|CSV)'/>
            <a class='quiet col4 button icon folder js-browsefile'>Browse</a>
        </div>
        <div class='small quiet center'>
            Need to add data from a
            <a href='#add-db-postgis' class='js-adddb'>PostGIS</a> or
            <a href='#add-db-sqlite' class='js-adddb'>SQLite</a> database?
        </div>
    </fieldset>
</form>