<%
var active = _(history.source).find(function(item) {
  return item.id === style.source;
});
var activeType = 'remote';
if (active && active.id.indexOf('tmsource://') === 0) activeType = 'local';
%>
<div id='modalsources' class='modal round col8 margin2 pin-top top2 bottom2 dark fill-dark'>
  <a class='pad1 quiet icon close pin-topright js-close'></a>
  <div class='row1 keyline-bottom pad1x space'>
    <h3 class='inline'>Sources</h3>
    <span class='rounded-toggle inline strong'>
      <a href='#modalsources-local' class='js-tab <%= activeType === 'local' ? 'active' : ''%>'>Local</a>
      <a href='#modalsources-remote' class='js-tab <%= activeType === 'remote' ? 'active' : ''%>'>Remote</a>
    </span>
  </div>
  <div id='modalsources-local' class='pin-top pin-bottom pad1 scroll-styled top1 <%= activeType === 'local' ? 'active' : ''%>'>
  <%
    print(_(history.source).chain()
      .filter(function(item) { return item.id.indexOf('tmsource://') === 0 })
      .sortBy(function(item) { return (item.name||'').toLowerCase(); })
      .map(_(function(item) {
        return this.sourceitem({
          classes: 'js-adddata ' + (item === active ? 'proj-active' : ''),
          withdel: true,
          item: item
        });
      }).bind(this))
      .value().join(''));
  %>

  <%= templates.emptystate({message:'Looks like you don\'t have any local vector tile sources. To create a source, open the projects drawer and click the new project button.'}) %>
  </div>
  <div id='modalsources-remote' class='pin-top pin-bottom top1 <%= activeType === 'remote' ? 'active' : ''%>'>
    <div class='pin-top pin-bottom pad1 scroll-styled bottom3'>
    <%
      print(_(history.source).chain()
        .filter(function(item) { return item.id.indexOf('tmsource://') === -1 })
        .sortBy(function(item) { return (item.name||'').toLowerCase(); })
        .map(_(function(item) {
          return this.sourceitem({
            classes: 'js-adddata ' + (item === active ? 'proj-active' : ''),
            withdel: true,
            item: item
          });
        }).bind(this))
        .value().join(''));
    %>
    </div>
  </div>
  <form id='applydata' class='pin-bottom pad2 keyline-top row3'>
    <div class='input-pill clearfix'><!--
      --><input class='col9' type='text' placeholder='Mapbox map ID' title='Must use valid mapbox map ID, path to local source, or tilejson source. Compositing local sources or tilejson sources is not allowed. No spaces allowed.' size='20' name='id' pattern='(([\w-]+\.[\w-]+,?)+|(https?:\/\/.*))|(tmsource?:\/\/[\w\/\/.]*)' value='<%= style.source.replace('mapbox:///','') %>'/><!--
      --><input class='col3' type='submit' value='Apply'/>
    </div>
    <div class='micro quiet center pad1y'>
      To use a composite source, string together comma-separated map IDs. Accepts <strong>TileJSON URLs</strong> for sources not hosted by Mapbox.
    </div>
  </form>
</div>
