<form id='newstylecheck' class='modal margin3 round col6 pad2 pin-top top2 dark fill-dark'>
  <a href='#' class="pad1 quiet icon x pin-topright close js-close"></a>
    <fieldset class='col12'>
        <div class='center space-bottom2'>
        <h3>Your source has not been uploaded to Mapbox.</h3>
        </div>
        <div class='clearfix space-bottom margin2 col8'>
            <a href='/upload?id=<%=source.id%>' class='col12 button icon space-bottom1 cloud'>Upload to Mapbox</a>
            <a href='/new/style?source=<%=source.id%>' class='col12 button quiet keyline-right icon harddrive js-browsefile'>Use source locally</a>
        </div>
    </fieldset>
</form>