<%
var active = _(history.source).find(function(item) {
  return item.id === style.source;
});
var activeType = 'remote';
if (active && active.id.indexOf('tmsource://') === 0) activeType = 'local';
%>
<div id='modalsources' class='modal round col8 margin2 pin-top top2 bottom2 dark fill-dark'>
  <a class='pad1 quiet icon close pin-topright js-close'></a>
  <div class='row1 keyline-bottom pad1x space'>
    <h3 class='inline'>Sources</h3>
    <span class='rounded-toggle inline'>
      <a href='#modalsources-local' class='js-tab <%= activeType === 'local' ? 'active' : ''%>'>Local</a>
      <a href='#modalsources-remote' class='js-tab <%= activeType === 'remote' ? 'active' : ''%>'>Remote</a>
    </span>
  </div>
  <div id='modalsources-local' class='pin-top pin-bottom pad1 scroll-styled top1 <%= activeType === 'local' ? 'active' : ''%>'>
  <%
    print(_(history.source).chain()
      .filter(function(item) { return item.id.indexOf('tmsource://') === 0 })
      .sortBy(function(item) { return (item.name||'').toLowerCase(); })
      .map(_(function(item) {
        return this.sourceitem({
          classes: 'js-adddata ' + (item === active ? 'proj-active' : ''),
          withdel: true,
          item: item
        });
      }).bind(this))
      .value().join(''));
  %>
  </div>
  <div id='modalsources-remote' class='pin-top pin-bottom top1 <%= activeType === 'remote' ? 'active' : ''%>'>
    <div class='pin-top pin-bottom pad1 scroll-styled bottom3'>
    <%
      print(_(history.source).chain()
        .filter(function(item) { return item.id.indexOf('tmsource://') === -1 })
        .sortBy(function(item) { return (item.name||'').toLowerCase(); })
        .map(_(function(item) {
          return this.sourceitem({
            classes: 'js-adddata ' + (item === active ? 'proj-active' : ''),
            withdel: true,
            item: item
          });
        }).bind(this))
        .value().join(''));
    %>
    </div>
    <form id='addmapbox' class='pin-bottom pad2 keyline-top row3'>
      <div class='input-pill clearfix'><!--
        --><input class='col9' type='text' placeholder='Mapbox map ID' title='Use "username.project" syntax for map IDs. No spaces between map IDs.' size='20' name='id' pattern='(([\w+-]+\.[\w+-]+,?)+|(https?:\/\/.*))' value='<%= style.source.replace('mapbox:///','') %>'/><!--
        --><input class='col3' type='submit' value='Update'/>
      </div>
      <p class='small quiet center pad1y'>
        <strong>Mapbox map IDs</strong> (comma separated) or a <strong>TileJSON URL</strong> for other sources
      </p>
    </form>
  </div>
</div>
