<form id='addtab' class='modal-body contain center round pad2 col6 space-bottom4 dark fill-dark'>
  <a class='pad1 quiet icon x pin-topright close js-close' href='#'></a>
  <p>Add a new CartoCSS tab to your style.</p>
  <div class='clearfix'>
    <span class='input-pill pill col8 margin2'>
      <input class='col8 js-addtab-filename' type='text' placeholder='stylesheet name' size='20' id='addtab-filename' required/><!--
      --><input class='col4 round-right' type='submit' value='New tab'/>
    </span>
  </div>
</form>
