<form id='sourcenewstyle' class='modal-body contain round col6 pad2 space-bottom4 dark fill-dark'>
  <a href='#' class="pad1 quiet icon x pin-topright close js-close"></a>
    <div class='col12'>
        <% if (!obj.isMapboxAPI) { %>
            <div class='center space-bottom2'>
            <h3>Create style with</h3>
            </div>
            <a href='/new/style?source=<%=source.id%>' class='round-top col12 button quiet icon harddrive'>Local source</a>
        <% } else { %>
            <% if (!obj.source._prefs.mapid) { %>
                <div class='center space-bottom2'>
                <h3>Your source has not been uploaded to Mapbox.</h3>
                </div>
                <div class='clearfix margin2 col8'>
                    <a href='/upload?id=<%=source.id%>' class='col12 button icon space-bottom1 cloud'>Upload to Mapbox</a>
                    <a href='/new/style?source=<%=source.id%>' class='round-top col12 button quiet icon harddrive'>Use source locally</a>
                </div>
            <% } else { %>
                <div class='center space-bottom2'>
                <h3>Create style with</h3>
                </div>
                <div class='clearfix margin1 col10'>
                     <div id='mapstatus-mapid' class='pad0y pad1x center truncate round-top space small fill-darken1'>
                      <strong>Map ID</strong>
                      <a href='https://www.mapbox.com/data/' class='quiet js-mapid' target='_blank'><%= _(source._prefs.mapid).escape()%></a>
                    </div>
                    <a href='/new/style?source=mapbox:///<%=source._prefs.mapid%>' class='col12 round-bottom button icon space-bottom1 cloud'>Remote source</a>
                    <a href='/new/style?source=<%=source.id%>' class='round-top col12 button quiet icon harddrive'>Local source</a>
                </div>
            <% } %>
        <% } %>
    </div>
    <div class='quiet col8 margin2 center pad0 fill-darken1 round-bottom small'>
        Recommended for development only. Styles using local sources cannot be uploaded to Mapbox or shared.
    </div>
</form>
