<% var rand = Math.random().toString(16).split('.')[1]; %>

<div class='clearfix contain'>
    <div class='col9 clearfix pad1'>
        <div class='pad1'>
            <strong class='block'>New style</strong>
            <span class='block small truncate'>Use CartoCSS to style vector tiles</span>
        </div>
        <% _(obj.style).chain().toArray().each(function(item, i) { %>
        <a class='col4 pad1' href='/new/style?id=<%=item.id%>'>
            <span class='block contain row2 fill-darken round' style='background-size:cover; background-image:url("/thumb.png?id=<%=item.id%>&<%=rand%>")'>
            </span>
            <strong class='block center micro'><%- item.name || 'Basic' %></strong>
        </a>
        <% }); %>
        <form class='pad1'>
            <strong class='block'>New style from remote source</strong>
            <span class='block small truncate space-bottom1'>Use CartoCSS to style remote vector tiles</span>
            <input formaction='/new/style' type='text' name='remote' title='Must use valid mapbox map ID or tilejson source. Compositing tilejson sources is not allowed. No spaces allowed.' class='col9 short' placeholder='mapbox.mapbox-streets-v5' pattern='((([\w-]+\.[\w-]+),?)+)|((https?:\/\/)+[\w\\\/\-./\:]*)'>
            <button formaction='/new/style' type='submit' class='short col3 quiet round-right space-bottom1'>Create  style</button>
        </form>
    </div>
    <div class='col3 pin-right pad1 keyline-left hide-mobile round-right'>
        <div class='pad1'>
            <strong class='block'>New source</strong>
            <span class='block small truncate'>Create custom vector tiles</span>
        </div>
        <a class='col12 pad1' href='/new/source'>
            <span class='block contain row2 fill-darken2 round center pad1y'>
                <span class='block pad1y'>
                    <span class='big icon quiet plus'></span>
                </span>
            </span>
            <strong class='block center micro'>Blank source</strong>
        </a>
    </div>
</div>

