<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'/>
  <link href='/ext/base/base.css?<%=obj.nocache%>' rel='stylesheet' />
  <link href='/app/app.css?<%=obj.nocache%>' rel='stylesheet' />
  <link href='/app/welcome.css?<%=obj.nocache%>' rel='stylesheet' />
  <script src='/ext/jquery-2.0.3.min.js?<%=obj.nocache%>'></script>
  <script src='/app/atom.js?<%=obj.nocache%>'></script>
  <%= this.analytics(obj) %>
  <title>Mapbox Studio Authorization</title>
</head>

<body id='view' class='fill-blue'>

<% if (obj.user && obj.oauth) { %>
<div class='dark pad8y clearfix'><div class='limiter clearfix'>
    <div class='clearfix'><div class='margin1 col10 round-top fill-darken0'>
        <div class='col6 pad4'>
            <span class='inline icon big avatar dot align-top' style='background-image:url(<%= obj.user.avatar %>)' /></span>
            <div class='inline row1 space align-top pad0x'>
                <strong><%- obj.user.name || obj.user.id %></strong><br/>
                <a class='small' href='https://www.mapbox.com/account/' target='_blank'>My account</a>
                <a class='small' href='/unauthorize'>Sign out</a>
            </div>
        </div>
        <div class='col6 pad2 row2'>
            <div class='clearfix round pad1'>
                <input class='col12 code clean round small' type='text' value='<%= obj.oauth.accesstoken %>' disabled readonly />
                <span class='block micro pad0y text-right truncate icon check'><strong>Access token</strong> authorized to use the <a href='https://www.mapbox.com/developers/api/' target='_blank'>Mapbox API</a></span>
            </div>
        </div>
    </div></div>
    <div class='clearfix'><div class='margin1 col10 round-bottom fill-lighten0'>
        <%= this.newproject(examples) %>
    </div>
</div></div>
<% } else { %>
<div class='dark pad8y clearfix'><div class='limiter'>
    <div class='col6 margin3 pad8y center'>
        <div class='mb-logo white row1 space-bottom'></div>
        <h2 class='space-bottom4'>
        Connect&nbsp;to&nbsp;your&nbsp;Mapbox<br/>
        account&nbsp;to&nbsp;get&nbsp;started.
        </h2>
        <a href='/oauth/mapbox' class='quiet button icon lock col8 margin2'>Connect</a>
        <a href='/oauth/atlas' class='stroke quiet button space-top1 short icon globe col8 margin2'>Connect to Mapbox Atlas</a>
    </div>
</div></div>
<% } %>

</body>

</html>
