<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'/>
  <link href='/app/icon.png' rel='apple-touch-icon' />
  <link href='/ext/mapbox.css' rel='stylesheet' />
  <link href='/ext/leaflet-locationfilter/locationfilter.css' rel='stylesheet' />
  <link href='/ext/base/base.css' rel='stylesheet' />
  <link href='/app/app.css' rel='stylesheet' />
  <link href='/app/print.css' rel='stylesheet' />
  <script src='/ext/underscore-min.js'></script>
  <script src='/ext/jquery-2.0.3.min.js'></script>
  <script src='/ext/jquery.sortable.js'></script>
  <script src='/ext/backbone.js'></script>
  <script src='/ext/mapbox.js'></script>
  <script src='/app/cartoref.js'></script>
  <script src='/app/lib.js?_=<%= +new Date %>'></script>
  <script src='/app/style.js?_=<%= +new Date %>'></script>
  <script src='/app/print.js?_=<%= +new Date %>'></script>
  <script src='/ext/sexagesimal.js'></script>
  <script src='/ext/leaflet-locationfilter/locationfilter.js'></script>
  <script src='/ext/sphericalmercator.js'></script>


  <title><%= style.name %></title>
</head>

<body id='view' class='<%= agent %> clip'><div id='app' class='pin-top pin-bottom animate'>

<a id='home'></a>

<div id='modal'>
  <div class='modal-mask fill-darken2 animate'></div>
  <div id='modal-content' class='limiter contain modal-content animate'></div>
</div>

<div id='full' class='z1 clip animate pin-left'>

  <div id='map' class='animate' style='background-color:<%=style.background%>;'></div>
  <div id='map-overlay' class='overlay'></div>
  <div id='map-errors'></div>

  <form id='bookmark' class='tip-bottom z10 contain fill-white round animate'>
    <input id='addbookmark' type='text' class='col12 clean round small' value='' placeholder='Name a bookmark' autocomplete='off' />
    <div class='pin-topright pad0'>
      <input type='submit' class='short quiet button' value='Add' />
    </div>
    <ul id='bookmark-list' class='clip fill-light scroll-styled round-bottom'></ul>
  </form>

  <form id='search' class='tip-bottom z10 contain fill-white round animate'>
    <input id='dosearch' type='text' class='col12 clean small round' value='' placeholder='Search' autocomplete='off' />
    <div class='pin-topleft pad1'>
      <span class='icon search'></span>
    </div>
    <ul id='search-results' class='clip fill-light scroll-styled round-bottom'></ul>
  </form>

  <div id='zoomedto' class='z<%=style.center[2]%>'></div>
  <div id='map-controls' class='z10'>
    <div class='fill-white inline'>
      <a href='#search' title='Search' class='search-n keyline-right icon search quiet '></a><!--
      --><a href='#' title='Close search' class='search-y icon keyline-right search fill-dark dark'></a><!--
      --><a href='#bookmark' title='Bookmarks' class='bookmark-n icon marker quiet'></a><!--
      --><a href='#' title='Close bookmarks' class='bookmark-y icon marker fill-dark dark'></a>
    </div>
    <a href='#full' title='Toggle fullscreen' class='full-n inline fill-white icon fullscreen quiet'></a>
    <a href='#' title='Exit fillscreen' class='full-y fill-dark dark icon fullscreen'></a>
    <div class='inline fill-white'>
      <a href='#' id='zoom-in' title='Zoom in' class='icon plus keyline-right quiet'></a><!--
      --><a href='#' id='zoom-out' title='Zoom out' class='icon minus keyline-right quiet'></a>
    </div>
  </div>
  <a href='#' title='Reselect within view' id='reselect' class='reselect icon refresh micro inline fill-white quiet'>New crop from view</a>
  <a href='#' title='Reselect within view' id='recenter' class='recenter icon crosshair micro inline fill-white quiet '>Center crop</a>
</div>


<div id='print-ui' class='animate z1 col4 export-menu pin-right dark fill-dark'>

  <nav class='row1 col12 pin-top keyline-bottom z1'>
    <h3 class='inline pad1'>Export image</h3>
    <a href='#export-info' class='pin-right pad1 js-info inline icon info quiet'></a>
    <div id='export-info' class='clearfix pin-top top1 z10 pad1 prose keyline-bottom fill-dark hidden'>
      <p>Select an area to export as a static image by manipulating the bounding box, or the coordinates below. The final image will be at the same zoom level as the viewport. To verify whether your image will be correctly sized at your desired zoom level, click on the zoom in the bottom-left corner of the viewport.</p>
    </div>
  </nav>

  <form class='js-data-content menu-content pin-left col12 top1 scroll-styled pad1x pad2y'>
    <h3 class='space-bottom1'>Zoom level  <span id='zoom'><%=style.center[2]%></span></h3>

    <fieldset class='space-bottom1'>
      <label>Crop size</label>
      <div class='space-bottom1 clearfix col12'>
        <div class='col6 col-input with-icon'>
          <input id='pixelX' class='js-dimensions col12 short small dim' type='text' value='' />
          <span class='icon quiet l-r-arrow'></span>
          <label class='micro ghost'>Pixels</label>
        </div>
        <div class='col6 col-input with-icon'>
          <input id='pixelY' class='js-dimensions col12 dim short small' type='text' value='' />
          <span class='icon quiet u-d-arrow'></span>
          <label class='micro ghost'>Pixels</label>
        </div>
      </div>
      <div class='clearfix col12'>
        <div class='col6 col-input with-icon'>
          <input id='inchX' class='js-dimensions col12 short small dim' type='text' value='' />
          <span class='icon quiet l-r-arrow'></span>
          <label class='micro ghost'>Inches</label>
        </div>
        <div class='col6 col-input with-icon'>
          <input id='inchY' class='js-dimensions col12 dim short small' type='text' value='' />
          <span class='icon quiet u-d-arrow'></span>
          <label class='micro ghost'>Inches</label>
        </div>
      </div>
      <div class='pad1y checkbox inline short'>
        <input type='checkbox' id='lock'>
        <label for='lock' class='round keyline-all small icon lock'>Lock dimensions</label>
      </div>
    </fieldset>

    <fieldset>
      <div class='space-bottom1 clearfix'>
        <label>Crop bounds</label>
          <!-- [W, S, E, N] -->
        <div class='col3 col-input contain'>
          <input id='bboxInputW' class='js-coordinates stretch short small' type='text' value='' />
          <label class='micro ghost'>W</label>
        </div>
        <div class='col3 col-input contain'>
          <input id='bboxInputS' class='js-coordinates stretch short small' type='text' value='' />
          <label class='micro ghost'>S</label>
        </div>
        <div class='col3 col-input contain'>
          <input id='bboxInputE' class='js-coordinates stretch short small' type='text' value='' />
          <label class='micro ghost'>E</label>
        </div>
        <div class='col3 col-input contain'>
          <input id='bboxInputN' class='js-coordinates stretch short small' type='text' value='' />
          <label class='micro ghost'>N</label>
        </div>
      </div>
      <div class='space-bottom1'>
        <label>Center point</label>
        <div class='col6 col-input contain'>
          <input id='centerInputLat' class='js-coordinates col12 short small' type='text' value='' />
          <label class='micro ghost'>Lat</label>
        </div>
        <div class='col6 col-input contain'>
          <input id='centerInputLng' class='js-coordinates col12 short small' type='text' value='' />
          <label class='micro ghost'>Lng</label>
        </div>
      </div>
    </fieldset>

    <fieldset class='pad1 keyline-all round clearfix'>
      <div class='space-bottom1'>
        <label>Image format</label>
        <div id='format' class='clearfix center inline rounded-toggle short'>
          <input id='png' type='radio' name='format' value='png' checked='checked'>
          <label for='png'>png</label>
          <input id='jpeg' type='radio' name='format' value='jpeg'>
          <label for='jpeg'>jpeg</label>
        </div>
      </div>
      <div>
        <label>Resolution</label>
        <div id='resolution' class='clearfix inline rounded-toggle short'>
        <% _({
          '2.078125': '150ppi',
          '4.15625': '300ppi',
          '8.3125': '600ppi'
        }).each(function(label, format) { %>
        <input value='<%= format %>' id='<%= label %>' type='radio' name='resolution' <% if (label === '300ppi') { %> checked='true' <% } %>>
        <label for='<%= label %>'><%= label %></label>
        <% }); %>
        </div>
     </div>
    </fieldset>

  </form>

  <div class='fill-dark pin-bottom keyline-top pad1'>
    <a id='export' href='#' type='button' class='round short col12 button disabled icon floppy' value='Download image' name='Export' >Download</a>
  </div>

</div>

<a href='/style?id=<%=style.id%>' class='pin-topleft dark fill-darken2 toolbar-button strong icon close'>Back</a>

<script>
var cwd = <%= JSON.stringify(cwd) %>;
var style = <%= JSON.stringify(style) %>;
var templates = {};
templates.modalbrowser = <%= this.modalbrowser.source %>;
templates.modalbrowsersave = <%= this.modalbrowsersave.source %>;
templates.modalbrowseropen = <%= this.modalbrowseropen.source %>;
templates.modaladdtab = <%= this.modaladdtab.source %>;
templates.modalmessage = <%= this.modalmessage.source %>;
templates.modalsources = <%= this.modalsources.source %>;
templates.modalerror = <%= this.modalerror.source %>;
templates.sourceitem = <%= this.sourceitem.source %>;
templates.sourcelayers = <%= this.sourcelayers.source %>;
Print(templates, cwd, style);
</script>

<% if (test) { %>
  <script>window.testParams = <%= JSON.stringify(test) %>;</script>
  <script src='/app/test/tape.js'></script>
  <script src='/app/test/app.test.print.js'></script>
<% } %>

</body>
</html>
