<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'/>
  <link href='/app/icon.png' rel='apple-touch-icon' />
  <link href='/ext/codemirror/codemirror.css' rel='stylesheet' />
  <link href='/ext/mapbox.css' rel='stylesheet' />
  <link href='/ext/base/base.css' rel='stylesheet' />
  <link href='/app/app.css' rel='stylesheet' />
  <link href='/app/source.css' rel='stylesheet' />
  <script src='/ext/underscore-min.js'></script>
  <script src='/ext/codemirror/codemirror.js'></script>
  <script src='/ext/codemirror/runmode.js'></script>
  <script src='/ext/codemirror/sql.js'></script>
  <script src='/ext/jquery-2.0.3.min.js'></script>
  <script src='/ext/jquery.sortable.js'></script>
  <script src='/ext/sexagesimal.js'></script>
  <script src='/ext/backbone.js'></script>
  <script src='/ext/mapbox.js'></script>
  <script src='/app/cartoref.js'></script>
  <script src='/app/lib.js?_=<%= +new Date %>'></script>
  <script src='/app/source.js?_=<%= +new Date %>'></script>
  <title><%= source.name %></title>
</head>

<body id='view' class='<%= agent %> clip dark'>

<div id='perf'></div>

<div id='modal'>
  <div class='modal-mask fill-darken2 animate'></div>
  <div id='modal-content' class='limiter contain modal-content animate'></div>
</div>

<div id='user' class='z10 col12 pin-top'>
  <a href='#' class='fill-darken1 col12 pin-left pin-bottom'></a>
  <div class='megamenu caret1 fill-dark col5 pin-topleft'>
    <%= this.history(obj) %>
  </div>
</div>

<form id='settings' class='z10 col12 pin-top'>
  <a href='#' class='fill-darken1 col12 pin-left pin-bottom'></a>
  <div class='pin-topleft megamenu caret2 dark fill-dark col4'>
    <% var disabled = remote ? "disabled='disabled'" : ''; %>
    <a class="pad1 quiet icon x pin-topright" href="#"></a>
    <header class='pad1 keyline-bottom'>
      <h3>Settings</h3>
    </header>

    <div class='pin-left col12 scroll-styled pad2 top1 bottom2'>
      <fieldset>
        <section class='space-bottom1'>
          <label>Name</label>
          <input <%= disabled %> class='stretch short small' name='name' type='text' value='<%= _(source.name).escape() %>'/>
        </section>
        <section class='space-bottom1'>
          <label>Description</label>
          <textarea <%= disabled %> class='stretch short small' name='description' type='text' cols='60' rows='8'><%= source.description %></textarea>
        </section>
        <section class='space-bottom1'>
          <label>Attribution</label>
          <input <%= disabled %> class='stretch short small' name='attribution' type='text' value='<%= _(source.attribution).escape() %>'></textarea>
        </section>
      </fieldset>
      <fieldset class='pad1 space-bottom2 keyline-all round'>
        <section class='space-bottom0 clearfix'>
          <label class='inline col4'>Minzoom</label>
          <input <%= disabled %> id='minzoom' name='minzoom' class='min' type='range' value='<%= source.minzoom %>' min='0' max='22' step='1' onchange='rangeHandler(this, "max", "#maxzoom");' />
          <span class='small quiet code inline range' id='minzoom-val'><%= source.minzoom %></span>
        </section>
        <section class='space-bottom0 clearfix'>
          <label class='inline col4'>Maxzoom</label>
          <input <%= disabled %> id='maxzoom' name='maxzoom' class='max' type='range' value='<%= source.maxzoom %>' min='0' max='22' step='1' onchange='rangeHandler(this, "min", "#minzoom");' />
          <span class='small quiet code inline range' id='maxzoom-val'><%= source.maxzoom %></span>
        </section>
      </fieldset>
    </div>
    <div class='keyline-top pad2y settings-footer pin-bottom'>
    <% if (!remote && source._tmp) { %>
      <section class='col12 pad2x clearfix'>
        <a href='#' class='quiet button col12 icon js-saveas floppy'>Save as</a>
      </section>
    <% } else if (!remote) { %>
      <section class='col12 pad1x clearfix'>
        <div class='pad1x col6'>
          <a href='#' class='quiet button col12 icon js-save floppy'>Save</a>
        </div>
        <div class='pad1x col6'>
          <a href='/mbtiles?id=<%= source.id %>' class='quiet button col12 icon share'>Export</a>
        </div>
      </section>
    <% } else { %>
      <section class='pad2x clearfix'>
        <a href='#' class='col12 quiet button icon js-save floppy'>Save</a>
      </section>
    <% } %>
    </div>
  </div>
</form>

<form id='bookmark' class='tip-bottom z1 contain fill-dark round animate'>
  <input id='addbookmark' type='text' class='col12 clean round small' value='' placeholder='Name a bookmark' autocomplete='off' />
  <div class='pin-topright pad0'>
    <input type='submit' class='short quiet button' value='Add' />
  </div>
  <ul id='bookmark-list' class='clip fill-dark scroll-styled round-bottom'></ul>
</form>

<form id='search' class='tip-bottom z1 contain fill-dark round animate'>
  <input id='dosearch' type='text' class='col12 clean small round' value='' placeholder='Search' autocomplete='off' />
  <div class='pin-topleft pad1'>
    <span class='icon search'></span>
  </div>
  <ul id='search-results' class='clip fill-dark dark scroll-styled round-bottom'></ul>
</form>

<div id='full' class='clip animate pin-left'>
  <div id='title' class='contain inline pin-topleft z1'>
    <span class='inline clip fill-darken3 dark row1 round-bottomright'><!--
      --><a href='#user' class='inline avatar align-middle'><img src='<%= user.avatar %>' /></a><!--
      --><strong class='unround icon point-line project-name small js-name inline pad1 truncate'><%= source.name || 'Untitled' %></strong><!--
      --><span class='pad0x row1 inline'><!--
      --><a href='#settings' class='round-left icon sprocket short button inline keyline-right'>Settings</a><!--
      <% if (source._tmp) { %>
        --><a class='js-saveas round-right short button icon inline floppy'>Save as</a>
      <% } else { %>
        --><a class='round-right js-save short button icon inline floppy' href='#'>Save</a>
      <% } %>
    </span>
  </div>
  <div id='map' class='animate dark' style='background-color:<%=source.background%>;'></div>
  <div id='map-overlay'></div>
  <div id='map-errors'></div>
  <div id='zoomedto' class='fill-dark contain z<%=source.center[2]%>'></div>

  <div id='map-controls'>
    <div class='inline'>
      <div class='z1 fill-dark'>
        <a href='#' id='zoom-in' title='Zoom in' class='icon plus keyline-right quiet'></a><!--
        --><a href='#' id='zoom-out' title='Zoom out' class='icon minus keyline-right quiet'></a>
      </div>
    </div>
    <div class='inline'>
      <div class='z1 fill-dark'>
        <a href='#search' title='Search' class='search-n dark keyline-right icon search quiet '></a><!--
        --><a href='#' title='Close search' class='search-y fill-darken2 icon keyline-right search'></a><!--
        --><a href='#bookmark' title='Bookmarks' class='bookmark-n dark icon marker quiet'></a><!--
        --><a href='#' title='Close bookmarks' class='bookmark-y fill-darken2 icon marker'></a>
      </div>
    </div>
    <a href='#full' title='Toggle fullscreen' class='full-n inline fill-dark icon fullscreen quiet'></a>
    <a href='#' title='Exit fullscreen' class='full-y fill-dark dark'><span class='fill-darken2 icon fullscreen'></span></a>
  </div>
  <div id='refresh' class='animate fill-darken2 col12 pad2 pin-bottom'>
    <span class='icon info'>To view visibility adjustments, <a href='#' class='js-save'>Save now</a>.</span>
    <a href='#' class='quiet pin-topright inline pad1 icon close'></a>
  </div>
</div>

<div id='docs' class='pin-right col6 z1'>
  <div class='col6 pin-left scroll-styled fill-dark animate pane'>
  <%= this['sourcedocs']() %>
  </div>
</div>

<%
var revlayers = remote ? source.vector_layers.slice(0) : source.Layer.slice(0);
revlayers.reverse();
%>
<div id='source-ui' class='z1 animate menu source-menu fill-dark dark col6 pin-right'>
  <div id='layers'>
    <nav class='pad1x row1 col12 pin-top keyline-bottom fill-dark z1'>
      <div class='pin-topleft z1 row1'><!--
        --><a title='Documentation' class='pad1 inline docs-n icon help unround align-middle fill-darken0 keyline-right' href='#docs'></a><!--
        --><a title='Documentation' class='pad1 inline docs-y icon help unround align-middle fill-darken2 keyline-right' href='#'></a><!--
      --></div>
      <strong class='small inline pad1y pad4x'>Layers</strong>
      <div class='center pin-right col6 strong small'>
        <% if (!remote) { %>
        <span class='pad0x pad1y keyline-left col4 fr layer-label'>Delete</span>
        <span class='pad0x pad1y keyline-left col4 fr layer-label'>Refresh</span>
        <% } %>
        <span class='pad0x pad1y col4 keyline-left fr layer-label'>Visibility</span>
        <% if (remote) { %>
        <span class='pad0x pad1y keyline-left col4 fr layer-label'>Zoom</span>
        <% } %>
      </div>
    </nav>
    <div class='js-menu-content menu-content fill-dark pin-left col12 top1 bottom2 scroll-styled'>
      <% _(revlayers).each(function(l) {
        print(this.layeritem(_({_prefs:source._prefs}).extend(l)));
      }.bind(this)); %>
      <% if (!remote) { %>
        <%= this.emptystate({message:'You haven\'t imported any data layers yet. <a href="#" class="js-addlayer">Add one now</a>.'}) %>
      <% } %>
    </div>
    <div class='pin-bottom row2 keyline-top pad1 clearfix'>
      <div class='col6 pad1'>
        <% if (!remote) { %>
        <a href='#' class='js-addlayer button col12 quiet icon plus'>New layer</a>
        <% } %>
      </div>
      <div class='col6 pad1'>
        <% if (!source._tmp) { %>
        <a href='/new/style?source=<%=source.id%>' class='button col12 quiet icon paint'>Create style</a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class='z10' id='editor'>
<% if (!remote) {
  _(revlayers).each(function(l) {
    var type = (l.Datasource && l.Datasource.type);
    if (this['layer' + type]) print(this['layer' + type](_({
        tm: tm,
        fields: source.vector_layers.filter(function(v) { return v.id === l.id })[0].fields
    }).extend(l)));
  }.bind(this));
} %>
</div>

<script>
var templates = {};
templates.modalbrowser = <%= this.modalbrowser.source %>;
templates.modalbrowsersave = <%= this.modalbrowsersave.source %>;
templates.modalbrowseropen = <%= this.modalbrowseropen.source %>;
templates.modaladdlayer = <%= this.modaladdlayer.source %>;
templates.modalupdatename = <%= this.modalupdatename.source %>;
templates.modalmessage = <%= this.modalmessage.source %>;
templates.modalerror = <%= this.modalerror.source %>;
templates.layeritem = <%= this.layeritem.source %>;
templates.layerfields = <%= this.layerfields.source %>;
templates.layershape = <%= this.layershape.source %>;
templates.layerpostgis = <%= this.layerpostgis.source %>;
templates.layergeojson = <%= this.layergeojson.source %>;
templates.layersqlite = <%= this.layersqlite.source %>;
templates.layercsv = <%= this.layercsv.source %>;
templates.layerogr = <%= this.layerogr.source %>;
templates.xraycolor = <%= this.xraycolor.source %>;
templates.xraypopup = <%= this.xraypopup.source %>;

var tm = {};
tm.srs = <%= JSON.stringify(tm.srs) %>;

var cwd = <%= JSON.stringify(cwd) %>;
var source = <%= JSON.stringify(source) %>;
var revlayers = <%= JSON.stringify(revlayers) %>;

Source(templates, cwd, tm, source, revlayers);
</script>

<% if (test) { %>
  <link href='/app/test/mocha.css' rel='stylesheet' />
  <style>body{padding:0;line-height:1;}/*Bad Mocha*/</style>
  <script src='/app/test/chai.js'></script>
  <script src='/app/test/mocha.js'></script>
  <div id='mocha' class='modal target round pad2 col6 scroll-styled row8 margin3 fill-light'></div>
  <a href='#' id='mask' class='fill-darken2 animate'></a>
  <script src='/app/test/app.test.source.js'></script>
<% } %>

</body>
</html>
