<div id='<%= obj.id %>' class='js-layer'>

<div class='pad1x'>
  <h3><%= obj.name || 'Untitled' %></h3>
  <div class='clearfix small pad1y'>
    <div class='pad0y col6'>
    <% if (obj.id.indexOf('tmsource://') === 0) { %>
    <span class='quiet icon harddrive'>Local</span>
    <% } else {%>
    <span class='quiet icon cloud'>Remote</span>
    <% } %>
    </div>
    <div class='fr col6 text-right'>
      <a href='#sources-<%=obj.id%>' class='button col12 short quiet js-recache icon refresh'>Refresh</a>
    </div>
  </div>

</div>

<div class='keyline-top'>
  <% if (obj.vector_layers) { %>
  <% _(obj.vector_layers).chain().clone().reverse().each(_(function(l) { %>
  <div class='col12 contain clip layer' id='sources-<%=l.id%>'>
    <a href='#sources-<%=l.id%>' class='pin-left pin-right js-tab'></a>
    <div class='space small pad1x pad0y keyline-bottom <%=l.geometry ? l.geometry + 'icon' : ''%>'>
      <span class='icon round' style='background-color:<%=this.xraycolor(l.id)%>'></span>
      <span>#<%=l.id%></span>
    </div>

    <div class='small center pin-right'>
      <span class='inline zooms pad0'>
        <% if (typeof l.minzoom === 'number' && typeof l.maxzoom === 'number') { %>
        z<%= l.minzoom||0 %>-<%= l.maxzoom||22 %>
        <% } %>
      </span>
    </div>
    <div class='description pad1'>
      <div class='small truncate col12'><%=l.description||'No description.'%></div>
      <div class='clearfix pad1y'>
        <% _(l.fields||{}).each(function(desc,name) { %>
        <div class='clearfix field'>
          <span class='col3 truncate'><%=name%> </span>
          <span class='col9 quiet'><%=desc||'No description.'%></span>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
  <% }).bind(this)); %>
  <% } else { %>
  <div class='col12 contain clip layer pad1 small'>
    <strong class='block center icon alert space-bottom1'>No layers found</strong>
    Select image tiles from this source for styling as rasters using <code>#_image</code>
  </div>
  <% } %>
  </div>
</div>
