<%
	# console.log('SOURCEREF', sourceRef)
var sections = {
    data: {
        icon: 'data',
        format: datasources
    }
%>

<section class='small pad1x pad2y contain keyline-bottom'>
  <a class='icon space-bottom1 book button col12 short' href='https://www.mapbox.com/guides/source-quickstart/' target='_blank'>Source Quickstart</a>
<!-- Need to make a demo first 
<a class='icon space-bottom2 star button col12 short js-demo' href='#demo'>Interface tour</a>
-->
  <a class='icon space-bottom1 book button col12 short' href='https://www.mapbox.com/guides/source-manual/' target='_blank'>Source Manual</a>  
<a class='icon space-bottom1 book button col12 short' href='https://www.mapbox.com/guides/converting-thousands-points-to-vts/' target='_blank'>Converting point data</a>
  <a class='icon space-bottom1 book button col12 short' href='https://www.mapbox.com/guides/postgis-manual/' target='_blank'>PostGIS manual</a>
</section>