<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'/>
  <link href='/app/icon.png' rel='apple-touch-icon' />
  <link href='/ext/codemirror/codemirror.css' rel='stylesheet' />
  <link href='/ext/mapbox.css' rel='stylesheet' />
  <link href='/ext/base/base.css' rel='stylesheet' />
  <link href='/app/app.css' rel='stylesheet' />
  <link href='/app/source.css' rel='stylesheet' />
  <script src='/ext/underscore-min.js'></script>
  <script src='/ext/codemirror/codemirror.js'></script>
  <script src='/ext/codemirror/runmode.js'></script>
  <script src='/ext/codemirror/sql.js'></script>
  <script src='/ext/jquery-2.0.3.min.js'></script>
  <script src='/ext/jquery.sortable.js'></script>
  <script src='/ext/sexagesimal.js'></script>
  <script src='/ext/backbone.js'></script>
  <script src='/ext/mapbox.js'></script>
  <script src='/app/cartoref.js'></script>
  <script src='/app/lib.js?_=<%= +new Date %>'></script>
  <script src='/app/source.js?_=<%= +new Date %>'></script>
  <script src='/app/atom.js?_=<%= +new Date %>'></script>
  <%= this.analytics(obj) %>
  <title><%= source.name %></title>
</head>

<body id='view' class='<%= agent %> <%= source._tmp ? 'tmp' : '' %> clip dark'><div id='app' class='pin-top pin-bottom mobile-cols'>

<a id='settings'></a>
<a id='user'></a>

<div id='perf'></div>

<div id='modal'>
  <div class='modal-mask fill-darken2 animate'></div>
  <div id='modal-content' class='limiter contain modal-content animate'></div>
</div>

<div id='drawers' class='animate fill-dark dark col3 offcanvas-left animate pin-left z10 clip'>

  <form id='settings-drawer' class='drawer col12 animate offcanvas-left'>
    <div class='pin-top pad1 keyline-bottom'>
      <h3>Settings</h3>
      <a href='#' class='icon x pin-right pad1 quiet'></a>
    </div>
    <div class='pin-left top1 scroll-styled'>
      <fieldset class='clearfix pad1x pad2y keyline-bottom contain'>
        <div class='z10 pin-top pin-bottom col12 pad1x fill-disable on-tmp on-changed'></div>
        <section class='space-bottom1'>
          <div id='mapstatus-mapid' class='pad0y pad1x center truncate round-top space small animate fill-darken1'>
            <strong>Map ID</strong>
            <a href='https://www.mapbox.com/data/' class='quiet js-mapid' target='_blank'><%= _(source._prefs.mapid).escape() || 'Source not uploaded' %></a>
          </div>
          <a href='/upload?id=<%= source.id %>' class='col12 short button round-bottom icon up'>Upload to Mapbox</a>
        </section>
        <section class='small center'>
          <a href='/mbtiles?id=<%= source.id %>' class='icon package'>or export to MBTiles</a>
        </section>
      </fieldset>
      <fieldset class='pad1x'>
        <section class='space-bottom1'>
          <label>Name</label>
          <input class='stretch short small' name='name' type='text' value='<%= _(source.name).escape() %>'/>
        </section>
        <section class='space-bottom1'>
          <label>Description</label>
          <textarea class='stretch short small' name='description' type='text' cols='60' rows='8'><%= source.description %></textarea>
        </section>
        <section>
          <label>Attribution</label>
          <input class='stretch short small' name='attribution' type='text' value='<%= _(source.attribution).escape() %>'></textarea>
        </section>
      </fieldset>
      <fieldset class='pad1x'>
        <div class='pad1 keyline-all round'>
          <section class='space-bottom0 clearfix'>
            <label class='inline col4'>Minzoom</label>
            <input id='minzoom' name='minzoom' class='min' type='range' value='<%= source.minzoom %>' min='0' max='22' step='1' onchange='rangeHandler(this, "max", "#maxzoom");' />
            <span class='small quiet code inline range' id='minzoom-val'><%= source.minzoom %></span>
          </section>
          <section class='space-bottom0 clearfix'>
            <label class='inline col4'>Maxzoom</label>
            <input id='maxzoom' name='maxzoom' class='max' type='range' value='<%= source.maxzoom %>' min='0' max='22' step='1' onchange='rangeHandler(this, "min", "#minzoom");' />
            <span class='small quiet code inline range' id='maxzoom-val'><%= source.maxzoom %></span>
          </section>
        </div>
      </fieldset>
    </div>
  </form>

  <div id='user-drawer' class='drawer col12 animate offcanvas-left'>
    <div class='row1 pin-top keyline-botom pad1 keyline-bottom'>
      <h3>Projects</h3>
      <a href='#' class='icon x pin-right pad1 quiet'></a>
    </div>
    <%= this.history(obj) %>
  </div>

</div>

<div id='full' class='clip animate pin-left'>
  <div id='map' class='animate dark' style='background-color:<%=source.background%>;'></div>
  <div id='map-overlay'></div>
  <div id='map-errors'></div>

  <form id='search' class='z10 contain dark round animate search-results'>
    <input id='dosearch' type='text' class='col12 clean small round' value='' placeholder='Search' autocomplete='off' />
    <ul id='search-results' class='clip scroll-styled round-bottom'></ul>
  </form>
  <div class='map-controls pin-top text-right col12 dark fill-dark row1'>
    <div class='pin-left fill-dark z1 pad0 row1 truncate'>
      <a href='#search' class='search-n button short icon search quiet'></a>
      <a href='#' class='search-y button short icon active icon search quiet'></a>

      <a id='' href='#full' title='Toggle fullscreen' class='button short icon fullscreen full-n quiet'></a>
      <a href='#' title='Exit fillscreen' class='button short icon quiet active fullscreen full-y'></a>

      <div class='pill'>
      <a id='zoom-in' class='button short icon plus quiet'></a><!--
   --><a id='zoom-out' class='button short icon minus quiet'></a>
      </div>
    </div>
    <div class='pin-top fill-dark z0 pad0 row1 text-right'>
      <span id='map-center' class='inline quiet micro strong pad0y align-top'></span>
      <div id='zoomedto' class='align-top inline contain zoom<%=source.center[2]%>'></div>
    </div>
  </div>
  <div id='refresh' class='animate fill-darken2 col12 pad2 pin-bottom'>
    <span class='icon info'>To view visibility adjustments, <a href='#' class='js-save'>Save now</a>.</span>
    <a href='#' class='quiet pin-topright inline pad1 icon close'></a>
  </div>
</div>

<%
  var revlayers = source.Layer.slice(0);
  revlayers.reverse();
%>
<div id='source-ui' class='z1 animate fill-dark dark col6 pin-right'>
  <div id='layers'>
    <div class='fill-darken1 clearfix'>
      <div class='col6 pad1'>
        <a href='#' class='js-addlayer short button col12 icon plus'>New layer</a>
      </div>
      <div class='col6 pad1 text-right contain'>
        <div class='z10 pin-top pin-bottom inline fill-disable on-tmp on-changed'></div>
        <a href='#' class='js-sourcenewstyle quiet inline pad0 small col12 rcon next'>Create style from this source</a>
      </div>
    </div>
    <nav class='clip row1 col12 keyline-top keyline-bottom fill-dark contain z1'>
      <strong class='col6 pad1'>Layers</strong>
      <div class='pin-right center col6 strong small'>
        <span class='pad0x pad1y keyline-left col4 source-label'>Visibility</span>
        <span class='pad0x pad1y keyline-left col4 source-label'>Refresh</span>
        <span class='pad0x pad1y keyline-left col4 source-label'>Delete</span>
      </div>
    </nav>
    <div class='js-layer-content layer-content pin-left col12 scroll-styled'><!--
      --><%
       _(revlayers).each(_(function(l) {
        print(this.layeritem(_({_prefs:source._prefs}).extend(l)));
      }).bind(this)); %><!--
    --></div>
    <%= this.emptystate({message:'You haven\'t imported any data layers yet. <a href="#" class="js-addlayer">Add one now</a>.'}) %>
  </div>
</div>

<div class='z10' id='editor'>
<%
  _(revlayers).each(_(function(l) {
    var type = (l.Datasource && l.Datasource.type);
    var vlayer = _(source.vector_layers).find(function(v) { return v.id === l.id; });
    if (this['layer' + type]) print(this['layer' + type](_({
        tm: tm,
        fields: vlayer ? vlayer.fields : null
    }).extend(l)));
  }).bind(this));
%>
</div>

<div id='toolbar' class='center pad1 dark z10'>
  <% if (source._tmp) { %>
  <a class='toolbar-button strong icon save js-saveas floppy' href='#'>Save as</a>
  <% } else { %>
  <a class='toolbar-button strong icon save js-save floppy' href='#'>Save</a>
  <% } %>
  <a class='toolbar-button strong icon settings-n sprocket' href='#settings'>Settings</a>
  <a class='toolbar-button strong icon settings-y sprocket active fill-lighten1' href='#'>Settings</a>

  <div class='user-icon pad1 pin-bottom'>
    <a class='toolbar-button strong user-n' href='#user'><div class='icon inline avatar dot' style='background-image:url(<%= user.avatar %>)' /></div>Projects</a>
    <a class='toolbar-button strong user-y active fill-lighten1' href='#'><div class='inline icon avatar dot' style='background-image:url(<%= user.avatar %>)' /></div>Projects</a>
  </div>
</div>

</div>

<script>
var templates = {};
templates.modalbrowser = <%= this.modalbrowser.source %>;
templates.modalbrowsersave = <%= this.modalbrowsersave.source %>;
templates.modalbrowseropen = <%= this.modalbrowseropen.source %>;
templates.modaladdlayer = <%= this.modaladdlayer.source %>;
templates.modalupdatename = <%= this.modalupdatename.source %>;
templates.modalconfirm = <%= this.modalconfirm.source %>;
templates.modalerror = <%= this.modalerror.source %>;
templates.modalnewstyle = <%= this.modalnewstyle.source %>;
templates.layeritem = <%= this.layeritem.source %>;
templates.layerfields = <%= this.layerfields.source %>;
templates.layershape = <%= this.layershape.source %>;
templates.layerpostgis = <%= this.layerpostgis.source %>;
templates.layersqlite = <%= this.layersqlite.source %>;
templates.layercsv = <%= this.layercsv.source %>;
templates.layerogr = <%= this.layerogr.source %>;
templates.layergdal = <%= this.layergdal.source %>;
templates.xraycolor = <%= this.xraycolor.source %>;
templates.xraypopup = <%= this.xraypopup.source %>;
templates.modalsourcenewstyle = <%= this.modalsourcenewstyle.source %>;

var tm = {};
tm.srs = <%= saferstringify(tm.srs, null, 2) %>;

var cwd = <%= saferstringify(cwd, null, 2) %>;
var source = <%= saferstringify(source, null, 2) %>;
var examples = <%= saferstringify(examples, null, 2) %>;
var revlayers = <%= saferstringify(revlayers, null, 2) %>;

Source(templates, cwd, tm, source, revlayers, examples);
</script>

<% if (test) { %>
  <script>window.testParams = <%= saferstringify(test, null, 0) %>;</script>
  <script src='/app/test/tape.js'></script>
  <script src='/app/test/app.test.source.js'></script>
<% } %>

</body>
</html>
