<%
var sections = {
    map: {
        icon: 'globe',
        map: symbolizers.map,
    },
    points: {
        icon: 'marker',
        markers: symbolizers.markers,
        point: symbolizers.point
    },
    lines: {
        icon: 'polyline',
        line: symbolizers.line,
        'line-pattern': symbolizers['line-pattern']
    },
    polygons: {
        icon: 'polygon',
        polygon: symbolizers.polygon,
        'polygon-pattern': symbolizers['polygon-pattern'],
        building: symbolizers['building']
    },
    raster: {
      icon: 'raster',
      raster: symbolizers.raster,
       },
    text: {
        icon: 'font',
        text: symbolizers.text,
        shield: symbolizers.shield
    },
    misc: {
        icon: 'star',
        misc: symbolizers['*'],
        debug: symbolizers.debug
    }
};
%>

<section class='small pad1x pad2y contain keyline-bottom'>
  <a class='icon space-bottom1 book button col12 short' href='https://www.mapbox.com/mapbox-studio/' target='_blank'>Documentation</a>
  <a class='icon space-bottom2 star button col12 short js-demo' href='#demo'>Interface tour</a>
</section>

<!-- titles -->
<div id='reference'>
<% _(sections).each(function(symbolizers, name) { %>

<article id='reference-<%= name.replace(/[^\w+]/g,'_') %>' class='small'>
  <div class='row pad1 contain section-name'>
    <span class='<%= symbolizers.icon %> icon quiet strong'><%= name %></span>
  </div>
  <% _(symbolizers).each(function(symbolizer) { %>
  <% _(symbolizer).chain()
      .filter(function(p) { return p.css; })
      .each(function(p, name) {
  %>


<section id='reference-<%= p.css.replace(/[^\w+]/g,'_') %>' class='contain carto-ref'>
    <a href='#reference-<%= p.css.replace(/[^\w+]/g,'_') %>' class='js-tab pin-left pin-right js-tab'></a>
    <div class='small pad1x pad0y keyline-bottom'><%= p.css %></div>
    <span class='quiet micro pin-topright pad0 code type'><%=_(p.type).isArray() ? 'keyword' : p.type%></span>
    </a>
</section>

<!--
    <div class='pad1 details clip'>
    <div class='quiet'>
      <div class='space-bottom0'>Default:</div>

      <div class='space-bottom1'>
      <% if (!(p['default-value'] === '')) { %>
        <span class='truncate micro code pad0x round fill-darken1 inline value'><%= p['css'] %>: <%=p['default-value']%>;</span>
      <% } else { %>
        <span class='truncate micro code pad0x round inline fill-darken1'>no default value</span>
      <% } %>
      </div>
-->

  <% }); %>
  <% }); %>
</article>
<!-- end titles -->
<% }); %>
</div>














