<%
var xraycolor = this.xraycolor;
_(obj).chain().toArray().each(function(layer,i) {
var last = i === (_(obj).size() - 1);
%>
  <% var feature = layer[0]; %>
  <div class='micro xray-listing <%= !last ? 'space-bottom1' : '' %>'>
  <div class='space'>
    <span class='icon round' style='background-color:<%=xraycolor(feature.layer)%>'></span>
    <strong><%= feature.layer %></strong>
  </div>
  <% for (var key in feature.attributes) { %>
  <div class='xray-listing space xray-list-item'>
    <span><%=key%></span>
    <span class='quiet'><%=feature.attributes[key]%></span>
  </div>
  <% } %>
  </div>
<%
});
%>
