.fixed { position:fixed; }
.on-linux,
.on-darwin,
.on-win32,
.on-win64 {
    transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -webkit-transform: translateX(-101%);
}
#linux:target ~ * .on-linux,
#win32:target ~ * .on-win32,
#win64:target ~ * .on-win64,
#darwin:target ~ * .on-darwin {
    transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

/* over-write textline */
.textline2 {
    display:block;
    height:15px;
    padding:8px 0px 6px;
}
.textline2:before {
    display:block;
    content:'';
    height:4px;
    background:#aaa;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

 #linux:target ~ * [href='#linux'],
 #win32:target ~ * [href='#win32'],
 #win64:target ~ * [href='#win64'],
#darwin:target ~ * [href='#darwin'] {
    background: rgba(0,0,0,.75);
    color: white;
}


.textline {
    clear:left;
    display:block;
    height:15px;
    padding:5px 0px 6px;
}
.textline:before {
    display:block;
    content:'';
    height:4px;
    background:#ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}
.fill-blue-gradient {
    background-image:linear-gradient(to bottom, #3887be, #8a8acb);
}

/*  BACKGROUND IMAGE TREATMENT FOR SECTIONS ON PAGE */
.intro {
    background:url(img/studio-1.png) 100% 100% no-repeat;
    background-size:cover;
}
.vectortiles {
    /*background:url(img/own-data@2x.png) 50% 0% no-repeat;
    background-size:cover;*/
}
.mapboxdata {
    background:url(img/data.png) 50% 0% no-repeat;
    background-size:cover;
}
.extend {
    /*background:url(img/studio-editor.jpg) 50% 50% no-repeat;
    background-size:cover;*/
}
.style {
    background:url(img/studio-editor_design.png) 50% 50% no-repeat;
    background-size:cover;
}
.source {
    background:url(img/studio-editor_data.jpg) 50% 50% no-repeat;
    background-size:cover;
}



/* Studio Editor Illustration
-------------------------------------------------- */

/* DESIGN / DATA IMAGE */
.studio-editor {
    background:url(img/studio-editor_design.jpg) 50% 50% no-repeat;
    background-size:cover;
}
.studio-editor:hover {
	background:url(img/studio-editor_data.jpg) 50% 50% no-repeat;
    background-size:cover;
}

/* ANIMATE NAV */
*:hover > .offcanvas-right-onhover {
    transform: translateX(101%);
    -ms-transform: translateX(101%);
    -moz-transform: translateX(101%);
    -webkit-transform: translateX(101%);
}

/* SHOW OR HIDE DATA / DESIGN NAV */
*:hover > .studio-editor-source {
    display: block;
	}
*:hover > .studio-editor-style {
	display: none;
	}



/*  Own Data
-------------------------------------------------- */

.own-data {
  background: url(img/own-data@2x.png) 0 100% no-repeat;
  background-size: 100% auto;
  padding-bottom: 37%;
  height: 0;
}

/* More than tiles
-------------------------------------------------- */

.data-api {
  background: url(img/data-api@2x.png) 0 100% no-repeat;
  background-size: 92% auto;
  padding-bottom: 34%;
  height: 0;
}

@media only screen and (max-width:640px) {
  .own-data, .data-api  {
    padding-bottom: 85%;
  }
}

/* Maps
-------------------------------------------------- */

.leaflet-container {
  background: #333;
}

.map-container .leaflet-control-zoom.leaflet-control {
  margin: 0;
  top: 10px;
  left: 10px;
  height: 30px;
  border: 0;
  background-color: rgba(0,0,0,.5);
}

.zoomlevel {
  top: 10px;
  left: 70px;
}

.map-container .leaflet-control-zoom.leaflet-control a {
  border:0;
  float: left;
  height: 30px;
}
.map-container .leaflet-control-zoom.leaflet-control a:hover { background-color: rgba(0,0,0,.9);}

.leaflet-bar .leaflet-control-zoom-out { background-position: 0 -24px;}
.leaflet-bar .leaflet-control-zoom-in { background-position: 0 2px;}

.map1 { border-bottom: 1px solid black;}
.map3 { border-left: 1px solid black;}

.xray-listing:hover {
  cursor: pointer;
  opacity: .75;
}
.xray-listing:hover:after {
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
  max-width: 50%;
  content: attr(tooltip);
  display: block;
  max-height: 200px;
  height: auto;
  background-color: black;
  overflow: auto;
  white-space: normal;
  position: absolute;
  text-align: left;
  margin-top: 10px;
  color: white;
}

.xray-listing:last-child { margin-bottom: 0;}

.xray-details { padding-left: 30px;}

@media only screen and (min-width:1200px) {
  [class*='map-overlay'] { width: 400px;}
  .map-left { right: 400px; margin: 0; left: 33.3333%; width: auto;}
  .map-right { left: 400px; margin: 0; right: 33.3333%; width: auto;}
}

@media only screen and (max-width:640px) {
  .map-overlay { height: auto; position: relative;}
  .map { position: relative; height: 300px;}
}
